$roboto: 'Roboto', sans-serif;
$dark-blue: rgba(4, 1, 44, 0.959);
$button-blue:  #5584ff;
$border-blue: #635eff;
$text-blue: #8492af;

%no-margin-h {
    margin-left: 0;
    margin-right: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
button:focus,
button:active{
    outline: 0 !important;
}
.box-shadow {
    -webkit-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
}
.dashboard{
    @extend %no-margin-h;
    .background-home{
        background-image: url("../images/home.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        height: calc(100vh, 4em);
        .home {
            padding-left: 5em;
            padding-right: 5em;
            padding-top: 3em;
            @extend %no-margin-h;
            .logo-wrapper{
                width: 12%;
                height: 1.2%;
                float: left !important;
            }
            .head-nav {
                float: right !important;
                *{
                    display: inline;
                }
                p{
                    font-weight: 400;
                    margin-right: 2em;
                    color: white;
                    font-size: 14px;
                    &:hover{
                        cursor: pointer;
                        color: $text-blue;
                    }
                }
                .login-button{
                    background-color: transparent;
                    color: $text-blue;
                    border: 1px solid $border-blue;
                    border-radius: 30px;
                    padding: 0.6rem 3.5rem 0.6rem 3.5rem;
                    font-weight: bold;
                    &:hover{
                        background-color: $button-blue;
                        border-color: transparent;
                        color: white;
                    }
                }
            }
            .ham-nav{
                float: right !important;
                .ham{
                    display: none;
                }
                .sidenav{
                    height: 100%;
                    width: 0;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-color: rgba(4, 1, 44, 0.959);
                    overflow-x: hidden;
                    transition: 0.3s;
                    padding-top: 60px;
                    a {
                        padding: 8px 8px 8px 32px;
                        text-decoration: none;
                        font-size: 25px;
                        color: white;
                        display: block;
                        transition: 0.3s;
                        &:hover{
                            font-weight: 400;
                            color: $text-blue;
                        }
                    }
                    .closebtn {
                        position: absolute;
                        top: 0;
                        right: 25px;
                        font-size: 36px;
                        margin-left: 50px;
                    }
                }
            }
            p {
                color:  white;
                font-size: 30px;
                font-weight: 100;
                line-height: 14.4px;
            }
        }

        .get-started{
            margin-top: 6%;
            text-align: center;
            div{
                &:first-child{
                    color: white;
                    font-size: 36px;
                    font-weight: 100;
                }
                &:nth-child(2){
                    color: $text-blue;
                    font-size: 22px;
                    font-weight: 400;
                }
            }
            .get-started-btn{
                background-color: #5584ff;
                color: white;
                border: 1px solid transparent;
                border-radius: 30px;
                padding: 0.6rem 3.5rem 0.6rem 3.5rem;
                font-weight: bold; 
                &:hover{
                    background-color: transparent;
                    color: white;
                    border: 1px solid #635eff;
                }
            }
        }
        .dashboard-img{
            width: 41%;
            margin-top: 4em;
            margin-right: auto;
            margin-left: auto;
            bottom: 0;

            img {
                margin: 0 auto;
            }
        }
    }
}

.work{
    @extend %no-margin-h;
    padding-top: 2rem; 
    padding-bottom: 2rem;
    margin-top: 9em;
    width: 68%;
    margin-left: auto;
    margin-right: auto;

    div {
        margin-bottom: 1.2em;
        div {
            img {
                width: 21%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 2.5em;
            }
            &:nth-child(2) {
                margin-bottom: 0.8em;
                font-weight: 500;
            }
            &:nth-child(3) {
                margin-bottom: 2em;
                color: #8492af;
                font-weight: 400;
                padding: 0 1em;
            }
        }
        .see-more-btn {
            background-color: transparent;
            color: black;
            border: 1px solid rgba(132, 146, 175, 30);
            border-radius: 29px;
            padding: 0.4rem 3.4rem 0.4rem 3.4rem;
            font-weight: 300;
            &:hover{
                background-color: $button-blue;
                border-color: transparent;
                color: white;
                font-weight: 500;
            }
        }
        .logo-line:after {
            content: "";
            position: absolute;
            border-bottom: 1px solid lightgray;
            top: 10%;
            width: 48%;
            margin-left: 17%;
        }
    }
}

.info{
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7', GradientType=0 );
    padding-top: 6em;
    padding-bottom: 3em;
    @extend %no-margin-h;
    .info-d{
        margin-top: 4%;
        margin-bottom: 3em;
        padding-left: 14%;
    }
    div{    
        p{
            &:nth-child(2){
                color: $text-blue;
                font-size: 12px;
                padding-right: 8%;
            }
            &:nth-child(3){
                color: $text-blue;
                font-size: 12px;
                padding-right: 8%;
            }
        }
        div{
            *{
                display: inline;
                color: $text-blue;
                font-weight: 400;
                font-size: 15px;
            }
            span{
                font-size: 22px !important;
                vertical-align: middle;
            }
        }
    }
}
.drag-n-drop-bg{
    position: relative;
    @extend %no-margin-h;
    width: 100%;
    height: 70vh;
    background-image: url("../images/drag.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .con {
        width: 100%;
        top: 19%;
        .drag-left{
            width: 57%;
            float: left;
            div{
                .drag-contents{
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    .drag-content1,.drag-content2{
                        width: 50%;
                        padding-left: 0.9em;
                        padding-right: 0.9em;
                        float: left;
                        div {
                            .initials{
                                vertical-align: 34%;
                                background-color: $button-blue;
                                text-align: center;
                                border-radius: 50%;
                                padding: 0.3em 0.63em;
                                color: white;
                            }
                            .pending{
                                margin-left: 1em;
                                line-height: 13px;
                                vertical-align: 0%;
                                font-size: 11px;
                                width: 71%;
                            }
                        }
                    }
                    %content{
                        padding: 1.2em 0 1.1em 1.5em;
                        background-color: white;
                        margin-bottom: 1em;
                        .option,.initials,.pending {
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                    .drag-content1{
                        .tasks{
                            @extend %content;
                        }
                    }
                    .drag-content2{
                        .completed{
                            @extend %content;
                        }
                        .doted-outline{
                            border: 1px dashed gray;
                            background-color: transparent;
                            color: $text-blue;
                            text-align: center;
                            height: 61px;
                            div{
                                transform: translateY(100%);
                            }
                        }
                    }
                }
            }
        }
        .drag-right{
            width: 43%;
            float: left;
            .dgd{
                font-size: 35px;
                margin-top: 1em;
                color: white;
                font-weight: 100;
                margin-bottom: 0.5em;
            }
            .dgd-contents{
                > div{
                    .dgd-p{
                        p{
                            color: $text-blue;
                            font-size: 13px;
                            margin-bottom: 1.6em;
                        }
                    }
                }
            }
            .dgd-span {
                color: $text-blue;
                span{
                    &:hover{
                        cursor: pointer;
                        color: white;
                    }
                }
                
            }
        }
    }
}

.psd-template{
    position: relative;
    @extend %no-margin-h;
    background: linear-gradient(#f6f6fa,#f6f6fa,#f6f6fa,#f6f6fa,#f6f6fa,
    #f6f6fa,#f9f9ff,#f9f9ff,#f9f9ff,#f9f9ff,white);
    margin-bottom: 5em;
    > div {
        &:first-child{
            margin-top: 1.5em;
            margin-bottom: 0.6em;
        }  
        &:nth-child(2),&:nth-child(3){
            color: #8492af;
            font-weight: 300;
            width: 80%;
            margin: 0 auto;
        }
        &:nth-child(3){
            margin-bottom: 4em;
        }
    }
    .mockup{
        height: 52%;
        width: 62%;
        z-index: -1;
        margin-left: auto;
        margin-right: auto;
    }
    .left-panel, .right-panel{
        width: 50%;
        position: absolute
    }
    %outer-circle{
        top: 18%;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: rgba(85, 132, 255, 0.6);
        position: absolute;
        .inner-circle{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #5584ff;
            margin-right:auto;
            margin-left: auto;
            transform: translateY(20%);
        }
    }
    .left-panel{
        left: 12%;
        top: 42%;
        div {
            .line-left{
                width: 72%;
                .outer-circle{
                    left: 70%;
                    @extend  %outer-circle;
                }
                hr{
                    border-color: #5584ff;
                    margin-top: 9px;
                }
            }
        }
    }
    .right-panel{
        right: 12%;
        bottom: 14%;
        div {
            .line-right {
                float: right;
                width: 71%;
                .outer-circle{
                    left: 28%;
                    @extend  %outer-circle;
                }
                hr{
                    border-color: #5584ff;
                    margin-top: 9px;
                }
            }
        }
    }
}

.pricing{
    width: 75%;
    margin: 0 auto 0.5em auto;
    .col-sm-4 {
        padding: 3.2em;
        margin-bottom: 1em;
        .box-shadow {
            -webkit-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
            -moz-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
            box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
            padding: 1.8em 0;
            > div{
                &:nth-child(2){
                    padding: 1.2em 0;
                }
                &:nth-child(3){
                    font-size: 12px;
                    line-height: 27px;

                    > div {
                        > span{
                            &:first-child{
                                margin-right: 7px;
                                font-size: 16px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}
.subscription{
    color: #8492af;
    margin-bottom: 1em;
    @extend %no-margin-h;
    .join{
        width: 80%;
        margin: 2.5em auto 2.5em auto;
        text-align: center;
        div {
            display: inline-block;
        }
        .join-button-wrapper{
            width: 13%;
            margin: 0 1.5em;
            .join-button{
                width: 100%;
                border: 1px solid rgb(182, 182, 182);
                border-radius: 28px;
                background-color: #5584ff;
                color: white;
                font-weight: 500;
                height: 30px;
                &:hover{
                    border: 1px solid #5584ff;
                    color: #5584ff;
                    background-color: transparent;
                }
            }
        }
        .left-line{
            width: 30%;
            vertical-align: middle;
            hr{
                width: 50%;
                float: right;
            }
        }
        .right-line{
            width: 30%;
            vertical-align: middle;
            hr {
                width: 50%;
                float: left;
            }
        }
    }
}

.footer{
    background-color:  #0e1a35;
    font-size: 13px;
    padding: 2.8em 10em;
    color: #8492af;
    font-weight: 500;
    > div {
        span{
            .fb,.tw{
                margin: 1px;
            }
            span{
                &:hover{
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #5f5e5eea;
    color: white;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-weight: 500;
    font-size: 22px;
    &:hover {
        background-color: rgb(41, 37, 37);
    }
}  
#join{
    > div:first-child{
        font-weight: 400;
        text-align: center;
        font-size: 12px;
        margin-bottom: 7em;
    }
}

.hvr-grow-shadow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    &:hover, &:focus, &:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
    }
}

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    &:hover, &:focus, &:active {
        -webkit-transform: translateY(-12px) scale(1.2);
        transform: translateY(-12px) scale(1.2);
        cursor: pointer;
    }
    &:hover:before, &:focus:before, &:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
