@media screen and (max-width: 1200px){
    .work{
        > div{
            > div {
                padding: 12em 7em 3em 7em;
            }
        }
    }
    .pricing{
        > div{
            > div {
                padding: 0;
                h1{
                    margin-bottom: 0.5em;
                }
            }
        }
    }
    .grupa-img{
        top: 4em !important;
        right: -2em !important;
        width: 40em !important;
    }
    .psd-template > div > div{
        .left-panel{
            top: 45%;
            hr{
                margin-bottom: 14px;
            }
            .line-left{
                width: 74% !important;
            }
        }
        .right-panel {
            bottom: 12%;
            hr{
                margin-bottom: 14px;
            }
        }
        .right-content, .left-content{
            font-size: 10px;
        }
        .outer-circle {
            top: 21% !important;
        }
        .mockup{
            width: 62%;
        }
    }
}
@media screen and (max-width: 1100px){
    .grupa-img{
        right: -3em !important;
    }
}
@media screen and (max-width: 1000px){
    .drag-n-drop-bg{
        .drag-left {
            .drag-contents {
                padding: 0 !important;
            }
        }
        .drag-right{
            padding: 0 0 0 3em;
        }
    }
    .work{
        > div{
            > div {
                padding: 9em 2em 4.5em 2em;
            }
        }
    }

    .logo-line:after{
        border: none !important;
    }
}
@media screen and (max-width: 991px){

    .dashboard{
        .get-started{
            padding: 11em 0 15em 0 !important;
        }  
    }

    .drag-n-drop-bg{
        padding: 4em 0;
        .drag-right{
            padding: 0 15px;
            margin-bottom: 0;
        }
    }

    .work{
        > div{
            > div {
                padding-bottom: 0;
            }
        }
    }

    .pricing{
        margin-bottom: 2em;
        > div{
            > div {
                h1{
                    margin-bottom: 1em;
                }

                > div{
                    > div{
                        padding: 0;
                    }
                }
                
            }
        }
    }
    .grupa-img{
        top: 4em !important;
        width: 45em !important;
        right: -11em !important;
    }

    .psd-template{ 
        > div{
            > div{
                .fst {
                    margin-bottom: 7px !important;
                }
                .left-panel{
                    top: 52%;
                    hr{
                        margin-top: 6px;
                        margin-bottom: 14px;
                    }
                }
                .right-panel {
                    bottom: 11%;
                    hr{
                        margin-top: 6px;
                        margin-bottom: 14px;
                    }
                }
                .rp-title{
                    font-size: 15px;
                }
                .right-content, .left-content{
                    font-size: 9px;
                }
                .mockup{
                    width: 62%;
                }
            }
        }
    }
}
@media screen and (max-width: 900px){
    .grupa-img{
        top: 4em !important;
        right: -16em !important;
        width: 46em !important;
    }
}
@media screen and (max-width: 768px){
    .dashboard{
        .get-started{
            padding: 10em 0 6em 0 !important
        }  
    }
    .footer{
        text-align: center;
        div {
            > div:last-child{
                margin-top: 0.5em;
                ul{
                    float: none;
                }
            }
        }
    }
    .ham{
        display: block !important;
        color: white;
        font-size:30px;
        cursor:pointer;
    }
    .ham:hover{
        color: aqua;
        transition-delay: 0.1s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }
    .dashboard{
        .dashboard-img{
            display: none !important;
        }
    }
    .drag-n-drop-bg{
        
        .dgd-p{
            margin: 0 auto;
            width: 100% !important;
        }
    }

    .header > div > ul{
        display: none;
    }

    .work{
        > div{
            > div {
                margin-bottom: 0;
                padding: 6em 6em 1em 6em;
                > div {
                    margin-bottom: 3em;
                    &:last-child{
                        float: none;
                        display: inline-block;
                        //transform: translateX(-50%);
                    }
                    &:nth-child(1),&:nth-child(2){
                        &:after{
                            content: none;
                        }
                    }
                }
            }
        }
    }

    .info{
        padding: 3.5em 0 5em 0;
        .info-d{
            p{
                width: 100% !important;
                padding-right: 15px;
            }
        }
        .grupa-img{
            display: none;
        }
    }
    .drag-right, .drag-left{
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
        
    }
    .drag-right{
        text-align: center;
        padding:0 5em;
    }
    
    
    .drag-left .container-fluid{
        padding: 0;
    } 
    .psd-template{ 
        .mockup{
            width: 86% !important;
        }
    }

    .left-panel,.right-panel{
        display: none;
    }

    .join-button-wrapper{
        width: 23%;
    }

    .pricing{
        h1 {
            margin-bottom: 2em;
        }
        margin-bottom: 0;
        .abc{
            display: inline-block;
            margin-bottom: 4em;
            &:last-child{
                
                float: none;
            }
        }
    }
    .subscription{
        .join{
            .join-button{
                &:after,&:before{
                    width: 40%;
                }
                &:after{
                    left: 150px;
                }
                &:before{
                    right: 150px;
                }
            }
        }
    }
    
    
}
@media screen and (max-width: 520px){
    .pricing{
        > div{
            > div {
                > div {
                    width: 100%;
                    padding: 0 3em;
                    // > div{
                    //     .box-shadow {
                    //         > div{
                    //             &:last-child{
                    //                 ul{
                    //                     li{
                                        
                    //                         &::before{
                                                
                    //                         }
                    //                     }
                    //                 }
                    //             }
                    //         }
                    //     }
                    // }   
                }
            }
        }
    }
}
@media only screen and (max-width: 419px) {
    .ham-nav{
        display: block !important;
    }
    .ham{
        display: block !important;
        color: white;
        font-size:30px;
        cursor:pointer;
    }
    .ham:hover{
        color: aqua;
        transition-delay: 0.1s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }
    /* .dashboard-img{
        display: none;
    }} */
    // .get-started{
    //     padding: 14.5em 0 12em 0 !important;
    // }
    
    .work{
        > div{
            > div {
                padding: 4em 2.5em 1.5em 2.5em !important;
                > div {
                    margin-bottom: 3em;
                    width: 100% !important;
                    &:last-child{
                        left: 0;
                        transform: unset;
                    }
                    &:after{
                        content: none !important;
                    }
                    
                }
            }
        }
    }

    .drag-right, .drag-left{
        width: 100% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .drag-right{
        padding: 2em 1em 0 1em !important;
    }

    .drag-content1{
        width: 100% !important;
        margin-bottom: 2em;
    }
    .drag-content2{
        width: 100% !important;
    }
    .drag-right{
        text-align: center;
    }

    .drag-contents {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }    
    .subscription{
        .join{
            .join-button{
                padding: 0.2em 1.8em;
                &:after{
                    left: 130px;
                }
                &:before{
                    right: 130px;
                }
            }
        }
    }
    
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}