<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='../resources/images/favicon.ico' />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/merkury.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/mercury.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/merkury-res.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
</head>
<body>
    <div class="container-fluid no-padding-h">
        <div class="row dashboard">
            <div class="background-home">
                <div class="row vertical-center home">
                    <div class="logo-wrapper">
                            <img src="../resources/images/logo.png" class="img-responsive" alt="logo">
                    </div>
                    <div class="head-nav">
                        <p>Features</p><p>Pricing</p><p>Blog</p><p>Contact</p>
                        <button class="login-button">Login</button>
                    </div>
                    <div class="ham-nav">
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="#">Features</a>
                            <a href="#">Pricing</a>
                            <a href="#">Blog</a>
                            <a href="#">Contact</a>
                            <a href="#">Login</a>
                        </div>
                        <span class="ham" onclick="openNav()">&#9776;</span>
                    </div>
                </div>
                <div class="get-started">
                    <div>Grow Your business with MerKury</div>
                    <div>Your partner with crime!</div><br><br>
                    <button class="get-started-btn">Get started</button>
                </div>

                <div class="dashboard-img">
                    <img src="../resources/images/dashboard.png" class="img-responsive box-shadow" alt="dashboard">
                </div>
            </div>
        </div>
        <div class="row work">
            <div class="col-sm-4 text-center">
                <div>
                    <img src="../resources/images/lg1.png" class="img-responsive" alt="logo1">
                </div>
                <div>Manage Your Workflow</div>
                <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                <button class="see-more-btn">See more</button>
            </div>
            <div class="col-sm-4 text-center">
                <div>
                    <img src="../resources/images/lg2.png" class="img-responsive" alt="logo2">
                </div>
                <div>Analytics & Insights</div>
                <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                <button class="see-more-btn">See more</button>
            </div>
            <div class="col-sm-4 text-center">
                <div>
                    <img src="../resources/images/lg3.png" class="img-responsive" alt="logo3">
                </div>
                <div>Organize Your Deadlines</div>
                <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                <button class="see-more-btn">See more</button>
            </div>
        </div>
        <div class="row no-margin-h info padding-bottom-3">
                <div class="col-sm-6 info-d">
                    <div class="font-size-40 margin-08-bottom">All You need is a browser!</div>
                    <p class="margin-2-bottom">Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.
                    </p>
                    <p class="margin-2-bottom">Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.
                    </p>
                    <div class="margin-1-bottom">
                        <span class="far fa-check-circle"></span>&nbsp;
                        <div> lorem ipsum dolor sit amet consectetur</div>
                    </div>
                    <div>
                        <span class="far fa-check-circle"></span>&nbsp;
                        <div> Ut enim ad minim veniam quis nosturd</div>
                    </div>
                </div>
                <div class="col-sm-6 no-padding-h">
                    <img src="../resources/images/grupa_2.png" class="img-responsive" alt="grupa">
                </div>
        </div>
        <div class="row drag-n-drop-bg">
            <div class="col-sm-12 no-padding-h con">
                <div class="drag-left">
                    <div class="container-fluid">
                        <div class="drag-contents">
                            <div class="drag-content1">
                                <div class="text-white font-size-18 bold-4 margin-1-bottom">In Progres&nbsp;&nbsp;&nbsp;<span style="color:#8492af;">(3)
                                </span><span class="glyphicon glyphicon-chevron-right pull-right bold-3"></span></div>
                                <div id="tasks1" class="tasks" draggable="true">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div><span class="glyphicon glyphicon-time"></span> time</div>
                                    </div>
                                    <div class="option">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                                <div id="tasks2" class="tasks" draggable="true">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div><span class="glyphicon glyphicon-time"></span> time</div>
                                    </div>
                                    <div class="option">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                                <div id="tasks3" class="tasks" draggable="true">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div><span class="glyphicon glyphicon-time"></span> time</div>
                                    </div>
                                    <div class="option">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="drag-content2">
                                <div class="text-white font-size-18 bold-4 margin-1-bottom">Completed <span style="color:#8492af;">(2)</span></div>
                                <div class="completed">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div class="text-green"><span class="glyphicon glyphicon-ok-circle"></span> completed</div>
                                    </div>
                                    <div class="option">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                                <div class="completed">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div class="text-green"><span class="glyphicon glyphicon-ok-circle"></span> Completed</div>
                                    </div>
                                    <div class="option">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                                <div id="drp" class="doted-outline">
                                    <div>Drop here</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drag-right">
                    <div class="dgd">Drag & Drop</div> 
                    <div class="dgd-contents">
                        <div class="dgd-content1">
                            <div class="dgb-p col-sm-8 no-padding-h">
                                <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.
                                    </p>
                            </div>
                            <div class="dgb-p col-sm-8 no-padding-h">
                                <p>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.
                                    </p>
                            </div>  
                        </div>
                        <div class="dgd-content1">
                            <div class="dgb-p col-sm-8 no-padding-h">
                                <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.
                                    </p>
                            </div>
                            <div class="dgb-p col-sm-8 no-padding-h">
                                <p>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.
                                    </p>
                            </div>  
                        </div>
                    </div>
                    
                    <div class="dgb-span col-sm-7 no-padding-h font-size-28">
                        <span class="fa fa-chevron-circle-left"></span>&nbsp;&nbsp;
                        <span class="fa fa-chevron-circle-right"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row no-margin-h">
            <div class="text-center font-size-40 bold-1 margin-06-bottom">Powerfull PSD Template</div>
            <div class="text-center">Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.</div>
            <div class="text-center margin-4-bottom">Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.</div>
            <div class="mockup">
                <img src="../resources/images/mockup.png" class="img-responsive margin-4-bottom col-sm-7" alt="">
            </div>
            <div class="">
                <div class="mg1 right-position"><hr class="line2"></hr><div class="mg2 left-transform right-position"></div></div>
            </div>
            <div class="">
                <div class="mg1 left-position"><hr class="line"></hr><div class="mg2 right-transform left-position"></div></div>
            </div>
            <div class="pointer1 col-sm-2 absolute-pos">
                <div class="font-size-18 margin-1-bottom">Clean & modern layout</div>
                <div>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor</div>
            </div>
            <div class="pointer2 col-sm-2 absolute-pos text-right">
                <div class="font-size-18 margin-1-bottom">Easy to customized</div>
                <div>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor</div>
            </div>
        </div> -->
        <div class="row no-margin-h psd-template relative-pos">
            <div class="text-center font-size-40 bold-1">Powerfull PSD Template</div>
            <div class="text-center">Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.</div>
            <div class="text-center">Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.</div>
            <div class="mockup">
                <img src="../resources/images/mockup.png" class="img-responsive" alt="mockup">
            </div>

            <div class="left-panel">
                <div class="col-sm-12 text-left">
                    <div class="font-size-18">Clean & modern layout</div>
                    <div class="line-left">
                        <hr>
                        <div class="outer-circle right-0">
                            <div class="inner-circle"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-left no-padding-h">Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor</div>
                </div>
            </div>

            <div class="right-panel">
                <div class="col-sm-12 text-right">
                    <div class="font-size-18">Easy to customized</div>
                    <div class="line-right">
                        <hr>
                        <div class="outer-circle">
                            <div class="inner-circle"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 pull-right no-padding-h">Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor</div>
                </div>
            </div>
            <!-- <div class="relative-pos">
                <div class="mg1 right-position"><hr class="line2"></hr><div class="mg2 left-transform right-position"></div></div>
            </div>
            <div class="relative-pos">
                <div class="mg1 left-position"><hr class="line"></hr><div class="mg2 right-transform left-position"></div></div>
            </div> -->
            
            
        </div>

        <div class="row no-margin-h pricing">
            <div class="font-size-36 text-center bold-1">Check our pricing!</div>
            <div class="col-sm-4">
                <div class="box-shadow">
                    <div class="text-uppercase text-center bold-5">bronze plan</div>
                    <div class="text-center">
                        <span class="font-size-26 bold-7">$</span>
                        <span class="font-size-40 bold-7">19</span>
                        <span>/month</span>
                    </div>
    
                    <div class="text-center">
    
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-remove-circle text-danger"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-remove-circle text-danger"></span><span> Lorem ipsum dolor sit am</span></div>
                    </div>
                </div>
                

            </div>
            <div class="col-sm-4">
                <div class="box-shadow">
                    <div class="text-uppercase text-center bold-5">silver plan</div>
                    <div class="text-center">
                        <span class="font-size-26 bold-7">$</span>
                        <span class="font-size-40 bold-7">49</span>
                        <span>/month</span>
                    </div>
    
                    <div class="text-center">
    
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-remove-circle text-danger"></span><span> Lorem ipsum dolor sit am</span></div>
                    </div>
                </div>
                    
            </div>
            <div class="col-sm-4">
                <div class="box-shadow">
                    <div class="text-uppercase text-center bold-5">gold plan</div>
                    <div class="text-center">
                        <span class="font-size-26 bold-7">$</span>
                        <span class="font-size-40 bold-7">99</span>
                        <span>/month</span>
                    </div>
    
                    <div class="text-center">
    
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                    </div>
                </div>
                    
            </div>
        </div>

        <div id="join" class="row subscription no-margin-h margin-1-bottom">
            <div class="text-center bold-4 font-size-12 margin">
                <div>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.</div>
                <div>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.</div>
            </div>

            <div class="join">
                <div class="left-line"><hr></div>
                <div class="no-padding-h text-center join-button-wrapper font-size-12"><button class="join-button">Join now!</button></div>
                <div class="right-line"><hr></div>
            </div>
        </div>

        <div class="row no-margin-h footer">
            <div class="col-sm-6">
                <span>© 2016 Merkury All Right Reserved</span>
            </div>
            <div class="col-sm-6">
                <span class="pull-right">
                    <span class="margin-2-right">Pricing</span>
                    <span class="margin-2-right">Blog</span>
                    <span class="margin-2-right">Contact</span>
                    <span class="fab fa-facebook-f fb"></span>
                    <span class="fab fa-twitter tw"></span>
                    <span class="fab fa-google-plus-g gp"></span>
                </span>
            </div>
            
        </div>
    </div>

    <button id="myBtn" title="Go to top"><span class="fa fa-angle-double-up"></span></button>

    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script>

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }


        function allowDrop(ev) {
            ev.preventDefault();
        }
        
        function drag(ev) {
            ev.dataTransfer.setData("img", ev.target.id);
        }
        
        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("img");
            document.getElementById(data).style.display = "none";
            ev.target.appendChild(document.getElementById(data));
        }
        function openNav() {document.getElementById("mySidenav").style.width = "250px";}
        function closeNav() {document.getElementById("mySidenav").style.width = "0";}
        // When the user clicks on the button, scroll to the top of the document
        $(function(){
            var id;
            $('#myBtn').on('click',function(){
                $('.dashboard').get(0).scrollIntoView({ behavior: 'smooth' });
            });

            $('.tasks').on('dragstart',function(ev){
                id = '#'+ev.target.id;
            });

            $('#drp').on('dragover',function(ev){
                ev.preventDefault();
            });
            $('#drp').on('drop',function(ev){
                ev.preventDefault();
                $(id+' .pending div:last-child').addClass("text-green");
                $(id+' .pending div:last-child').html("<span class=\"glyphicon glyphicon-ok-circle\"></span> Completed");
                //alert($(id).html());
                var html = "<div class=\"completed\">"+$(id).html()+"</div>";
                $(id).hide();
                $(this).before(html);
            });
        });
        
        
    </script>
</body>
</html>