<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='../resources/images/favicon.ico' />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/merkury.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
</head>
<body>
    
    <nav class="header">
        <div class="container header-content">
            <img src="../resources/images/logo.png" class="img-responsive" alt="logo">
            <ul class="text-right">
                <li>Features</li>
                <li>Price</li>
                <li>Blog</li>
                <li>Contact</li>
                <li><button class="login-button">Login</button></li>
            </ul>
            <div class="ham-nav">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">Features</a>
                    <a href="#">Pricing</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                    <a href="#">Login</a>
                </div>
                <span class="ham" onclick="openNav()">&#9776;</span>
            </div> 
        </div>
    </nav>
    <div class="dashboard">
        <div class="container">
            <div class="row dashboard-row">
                <div class="get-started">
                    <div>Grow Your business with MerKury</div>
                    <div>Your partner with crime!</div><br><br>
                    <button class="get-started-btn">Get started</button>
                </div>
                <div class="dashboard-img">
                    <img src="../resources/images/dashboard.png" class="img-responsive box-shadow" alt="dashboard">
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="work">
        <div class="container">
            <div class="row work-row">
                <div class="col-sm-4 col-xs-6 text-center workflow">
                    <div class="work-logo">
                        <img src="../resources/images/lg1.png" class="img-responsive hvr-float-shadow" alt="logo1">
                    </div>
                    <div class="work-title">Manage Your Workflow</div>
                    <div class="work-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                    <button class="see-more-btn">See more</button>
                </div>
                <div class="col-sm-4 col-xs-6 text-center analytics">
                    <div class="work-logo">
                        <img src="../resources/images/lg2.png" class="img-responsive hvr-float-shadow" alt="logo2">
                    </div>
                    <div class="work-title">Analytics & Insights</div>
                    <div class="work-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                    <button class="see-more-btn">See more</button>
                </div>
                <div class="col-sm-4 col-xs-6 text-center organize">
                    <div class="work-logo">
                        <img src="../resources/images/lg3.png" class="img-responsive hvr-float-shadow" alt="logo3">
                    </div>
                    <div class="work-title">Organize Your Deadlines</div>
                    <div class="work-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                    <button class="see-more-btn">See more</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="info">
        <div class="container info-container">
            <div class="row info-row">
                <div class="col-sm-6 info-d">
                    <h1>All You need is a browser!</h1>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.
                    </p>
                    <p>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.
                    </p>
                    <div class="margin-bottom">
                        <span class="far fa-check-circle"></span>&nbsp;
                        <div> lorem ipsum dolor sit amet consectetur</div>
                    </div>
                    <div>
                        <span class="far fa-check-circle"></span>&nbsp;
                        <div> Ut enim ad minim veniam quis nosturd</div>
                    </div>
                </div>
                <div class="grupa-img">
                    <img src="../resources/images/dash.png" class="img-responsive" alt="grupa">
                </div>
            </div>
        </div>
    </div>

    <div class="drag-n-drop-bg">
        <div class="container">
            <div class="row">
                <div class="drag-left">
                    <div class="drag-contents clearfix">
                        <div class="drag-content1">
                            <div class="p-title">In Progres&nbsp;&nbsp;&nbsp;<span class="p-count">(3)
                            </span><span class="glyphicon glyphicon-chevron-right pull-right bold-3"></span></div>
                            <div id="tasks1" class="tasks" draggable="true">
                                <div class="initials">N</div>
                                <div class="pending">
                                    <div>Title</div>
                                    <div><span class="glyphicon glyphicon-time"></span> time</div>
                                </div>
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </div>
                            <div id="tasks2" class="tasks" draggable="true">
                                <div class="initials">N</div>
                                <div class="pending">
                                    <div>Title</div>
                                    <div><span class="glyphicon glyphicon-time"></span> time</div>
                                </div>
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </div>
                            <div id="tasks3" class="tasks" draggable="true">
                                <div class="initials">N</div>
                                <div class="pending">
                                    <div>Title</div>
                                    <div><span class="glyphicon glyphicon-time"></span> time</div>
                                </div>
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </div>
                        </div>
                        <div class="drag-content2">
                            <div class="c-title">Completed <span class="c-count">(2)</span></div>
                            <div class="completed">
                                <div class="initials">N</div>
                                <div class="pending">
                                    <div>Title</div>
                                    <div class="text-green"><span class="glyphicon glyphicon-ok-circle"></span> completed</div>
                                </div>
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </div>
                            <div class="completed">
                                <div class="initials">N</div>
                                <div class="pending">
                                    <div>Title</div>
                                    <div class="text-green"><span class="glyphicon glyphicon-ok-circle"></span> Completed</div>
                                </div>
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </div>
                            <div id="drp" class="doted-outline">
                                <div>Drop here</div>
                            </div>
                        </div>
                    </div>
                
            </div>
            <div class="drag-right">
                <div class="dgd">Drag & Drop</div> 
                <div class="dgd-contents">
                    <div class="dgd-content1">
                        <div class="dgd-p">
                            <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.1
                                </p>
                        </div>
                        <div class="dgd-p">
                            <p>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.
                                </p>
                        </div>  
                    </div>
                    <div class="dgd-content2 hide">
                        <div class="dgd-p">
                            <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.2
                                </p>
                        </div>
                        <div class="dgd-p">
                            <p>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.
                                </p>
                        </div>  
                    </div>
                </div>
                
                <div class="dgd-span">
                    <span class="fa fa-chevron-circle-left slider-left"></span>&nbsp;&nbsp;
                    <span class="fa fa-chevron-circle-right slider-right"></span>
                </div>
            </div>
            </div>
            
        </div>
    </div>

    <div class="psd-template">
        <div class="container">
            <div class="row psd-row">
                <h1 class="text-center">Powerfull PSD Template</h1>
                <div class="text-center fst">Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.</div>
                <div class="text-center">Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.</div>
                <div class="mockup">
                    <img src="../resources/images/mockup.png" class="img-responsive" alt="mockup">
                </div>
                <div class="text-center col-xs-6 dis-no">
                    <h4>Clean & modern layout</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                </div>
                <div class="col-xs-6 text-center dis-no lst">
                    <h4>Easy to customized</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                </div>
                <div class="left-panel">
                    <div class="col-sm-12 text-left">
                        <div class="rp-title">Clean & modern layout</div>
                        <div class="line-left">
                            <hr>
                            <div class="outer-circle">
                                <div class="inner-circle"></div>
                            </div>
                        </div>
                        <div class="left-content">
                            <div> Lorem ipsum dolor sit amet, </div>
                            <div>consectetur adipisicing elit,</div> 
                            <div>sed do eiusmod tempor</div>
                        </div>
                    </div>
                </div>
        
                <div class="right-panel">
                    <div class="col-sm-12 text-right">
                        <div class="rp-title">Easy to customized</div>
                        <div class="line-right">
                            <hr>
                            <div class="outer-circle">
                                <div class="inner-circle"></div>
                            </div>
                        </div>
                        <div class="right-content">
                            <div> Lorem ipsum dolor sit amet, </div>
                            <div>consectetur adipisicing elit,</div> 
                            <div>sed do eiusmod tempor</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="pricing">
        <div class="container">
            <div class="row pricing-row">
                <h1>Check our pricing!</h1>
                <div class="col-sm-4 col-xs-6 bronze">
                    <div class="price-box">
                        <div class="box-shadow hvr-grow-shadow">
                            <div class="plan-tag">bronze plan</div>
                            <div class="text-center price-tag">
                                <span>$</span>
                                <span>19</span>
                                <span>/month</span>
                            </div>
            
                            <div class="offers">
                                <ul>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                    <li class="unavailable">Lorem ipsum dolor sit am</li>
                                    <li class="unavailable">Lorem ipsum dolor sit am</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 silver">
                    <div class="price-box">
                        <div class="box-shadow hvr-grow-shadow">
                            <div class="plan-tag">silver plan</div>
                            <div class="text-center price-tag">
                                <span>$</span>
                                <span>49</span>
                                <span>/month</span>
                            </div>
            
                            <div class="offers">
                                <ul>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                    <li class="unavailable">Lorem ipsum dolor sit am</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6 gold">
                    <div class="price-box">
                        <div class="box-shadow hvr-grow-shadow">
                            <div class="plan-tag">gold plan</div>
                            <div class="text-center price-tag">
                                <span>$</span>
                                <span>99</span>
                                <span>/month</span>
                            </div>
            
                            <div class="offers">
                                <ul>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                    <li class="available">Lorem ipsum dolor sit am</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div id="join" class="subscription">
        <div class="container">
            <div class="row">
                <div class="content col-sm-12">
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.</p>
                    <p>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.</p>
                    
                </div>
                <div class="join col-sm-12">
                    <button class="join-button">Join Now!</button>
                </div>
            </div>
        </div>
        
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">© 2016 Merkury All Right Reserved</div>
                <div class="col-sm-6 footer-nav">
                    <ul>
                        <li class="price">Pricing</li>
                        <li class="blog">Blog</li>
                        <li class="contact">Contact</li>
                        <li class=" fb"><span class="fab fa-facebook-f"></span></li>
                        <li class="tw"><span class="fab fa-twitter"></span></li>
                        <li class="gp"><span class="fab fa-google-plus-g"></span></li>
                    </ul>
                </div>
            </div>   
        </div>
    </div>


    <button id="myBtn" title="Go to top"><span class="fa fa-angle-double-up"></span></button>

    <script src="../resources/js/jquery.min.js"></script>
    <!-- <script src="../resources/js/bootstrap.min.js"></script> -->
    <script src="../resources/js/merkury.min.js"></script>
</body>
</html>