<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/mercury.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../resources/css/merkury-res.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 
    
</head>
<body>
    <div class="container-fluid no-padding-h">
        <div class="row no-margin-h dashboard">
            <div class="background-home">
                <div class="row no-margin-h padding-top-3 vertical-center">
                    <div class="logo-wrapper pull-left">
                            <img src="../resources/images/logo.png" class="img-responsive" alt="logo">
                    </div>
                    <div class="pull-right head-nav">
                        <p>Features</p><p>Pricing</p><p>Blog</p><p>Contact</p>
                        <button class="login-button">Login</button>
                    </div>
                    <div class="ham-nav pull-right">
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="#">Features</a>
                            <a href="#">Pricing</a>
                            <a href="#">Blog</a>
                            <a href="#">Contact</a>
                            <a href="#">Login</a>
                        </div>
                        <span class="ham" onclick="openNav()">&#9776;</span>
                    </div>
                </div>
                <div class="get-started text-center">
                    <div class="bold-1 font-size-36 text-white">Grow Your business with MerKury</div>
                    <div class="bold-4 font-size-22">Your partner with crime!</div><br><br>
                    <button class="">Get started</button>
                </div>

                <div class="dashboard-img margin-4-top">
                    <img src="../resources/images/dashboard.png" class="img-responsive box-shadow" alt="dashboard">
                </div>
            </div>
        </div>
        <!-- <div class="row no-margin-h padding-2rem-v margin-9-top work">
            <div class="inline-block text-center">
                <div class="text-center">
                    <div>
                        <img src="../resources/images/lg1.png" class="img-responsive" alt="logo1">
                    </div>
                    <div>Manage Your Workflow</div>
                    <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                    <button>See more</button>
                </div>
                <div class="text-center">
                    <div>
                        <img src="../resources/images/lg2.png" class="img-responsive" alt="logo2">
                    </div>
                    <div>Analytics & Insights</div>
                    <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                    <button>See more</button>
                </div>
                <div class="text-center">
                    <div>
                        <img src="../resources/images/lg3.png" class="img-responsive" alt="logo3">
                    </div>
                    <div>Organize Your Deadlines</div>
                    <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                    <button>See more</button>
                </div>
            </div>
        </div> -->
        <div class="row no-margin-h padding-2rem-v margin-9-top work">
            <div class="col-sm-4 text-center">
                <div>
                    <img src="../resources/images/lg1.png" class="img-responsive" alt="logo1">
                </div>
                <div>Manage Your Workflow</div>
                <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                <button>See more</button>
            </div>
            <div class="col-sm-4 text-center">
                <div>
                    <img src="../resources/images/lg2.png" class="img-responsive" alt="logo2">
                </div>
                <div>Analytics & Insights</div>
                <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                <button>See more</button>
            </div>
            <div class="col-sm-4 text-center">
                <div>
                    <img src="../resources/images/lg3.png" class="img-responsive" alt="logo3">
                </div>
                <div>Organize Your Deadlines</div>
                <div class="text-break font-size-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labotr et dolore magna aliqua.</div>
                <button>See more</button>
            </div>
        </div>
        <div class="row no-margin-h gradient-bg padding-bottom-3">
                <div class="col-sm-6 margin-3-bottom">
                    <div class="font-size-40 margin-08-bottom">All You need is a browser!</div>
                    <p class="margin-2-bottom">Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.
                    </p>
                    <p class="margin-2-bottom">Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.
                    </p>
                    <div class="margin-1-bottom">
                        <img src="../resources/images/checked.png" alt="">
                        <div class="v-center"> lorem ipsum dolor sit amet consectetur</div>
                    </div>
                    <div>
                        <img src="../resources/images/checked.png" alt="">
                        <div class="v-center"> Ut enim ad minim veniam quis nosturd</div>
                    </div>
                </div>
                <div class="col-sm-6 no-padding-h">
                    <img src="../resources/images/grupa_2.png" class="img-responsive" alt="grupa">
                </div>
        </div>
        <div class="row no-margin-h drag-n-drop-bg relative-pos">
            <div class="col-sm-12 no-padding-h">
                <div class="drag-left">
                    <div class="container-fluid">
                        <div class="drag-contents">
                            <div class="drag-content1">
                                <div class="text-white font-size-18 bold-4 margin-1-bottom">In Progres&nbsp;&nbsp;&nbsp;<span style="color:#8492af;">(3)
                                </span><span class="glyphicon glyphicon-chevron-right pull-right bold-3"></span></div>
                                <div class="tasks">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div><span class="glyphicon glyphicon-time"></span> time</div>
                                    </div>
                                    <div class="v-align-25">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                                <div class="tasks">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div><span class="glyphicon glyphicon-time"></span> time</div>
                                    </div>
                                    <div class="v-align-25">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                                <div class="tasks">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div><span class="glyphicon glyphicon-time"></span> time</div>
                                    </div>
                                    <div class="v-align-25">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="drag-content2">
                                <div class="text-white font-size-18 bold-4 margin-1-bottom">Completed <span style="color:#8492af;">(2)</span></div>
                                <div class="completed">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div class="text-green"><span class="glyphicon glyphicon-ok-circle"></span> completed</div>
                                    </div>
                                    <div class="v-align-25">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                                <div class="completed">
                                    <div class="initials">N</div>
                                    <div class="pending">
                                        <div class="bold-5">Title</div>
                                        <div class="text-green"><span class="glyphicon glyphicon-ok-circle"></span> Completed</div>
                                    </div>
                                    <div class="v-align-25">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </div>
                                </div>
                                <div class="doted-outline">
                                    <div>Drop here</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drag-right">
                    <div class="dgd">Drag & Drop</div> 
                    <div class="dgb-p col-sm-8 no-padding-h">
                        <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.
                            </p>
                    </div>
                    <div class="dgb-p col-sm-8 no-padding-h">
                        <p>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.
                            </p>
                    </div>
                    <div class="dgb-span col-sm-7 no-padding-h font-size-28">
                        <span class="fa fa-chevron-circle-left"></span>&nbsp;
                        <span class="fa fa-chevron-circle-right"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row no-margin-h">
            <div class="text-center font-size-40 bold-1 margin-06-bottom">Powerfull PSD Template</div>
            <div class="text-center">Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.</div>
            <div class="text-center margin-4-bottom">Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.</div>
            <div class="mockup">
                <img src="../resources/images/mockup.png" class="img-responsive margin-4-bottom col-sm-7" alt="">
            </div>
            <div class="">
                <div class="mg1 right-position"><hr class="line2"></hr><div class="mg2 left-transform right-position"></div></div>
            </div>
            <div class="">
                <div class="mg1 left-position"><hr class="line"></hr><div class="mg2 right-transform left-position"></div></div>
            </div>
            <div class="pointer1 col-sm-2 absolute-pos">
                <div class="font-size-18 margin-1-bottom">Clean & modern layout</div>
                <div>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor</div>
            </div>
            <div class="pointer2 col-sm-2 absolute-pos text-right">
                <div class="font-size-18 margin-1-bottom">Easy to customized</div>
                <div>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor</div>
            </div>
        </div> -->
        <div class="row no-margin-h psd-template relative-pos margin-1-bottom">
            <div class="text-center font-size-40 bold-1">Powerfull PSD Template</div>
            <div class="text-center">Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.</div>
            <div class="text-center">Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.</div>
            <div class="mockup">
                <img src="../resources/images/mockup.png" class="img-responsive" alt="mockup">
            </div>
            <!-- <div class="">
                <div class="mg1 right-position"><hr class="line2"></hr><div class="mg2 left-transform right-position"></div></div>
            </div>
            <div class="">
                <div class="mg1 left-position"><hr class="line"></hr><div class="mg2 right-transform left-position"></div></div>
            </div>
            <div class="pointer1 col-sm-2 absolute-pos">
                <div class="font-size-18 margin-1-bottom">Clean & modern layout</div>
                <div>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor</div>
            </div>
            <div class="pointer2 col-sm-2 absolute-pos text-right">
                <div class="font-size-18 margin-1-bottom">Easy to customized</div>
                <div>Lorem ipsum dolor sit amet,consectetur adipisicing elit,sed do eiusmod tempor</div>
            </div> -->
        </div>

        <div class="row no-margin-h pricing">
            <div class="font-size-36 text-center bold-1">Check our pricing!</div>
            <div class="col-sm-4 padding-2rem">
                <div class="box-shadow">
                    <div class="text-uppercase text-center bold-5">bronze plan</div>
                    <div class="text-center">
                        <span class="font-size-26 bold-7">$</span>
                        <span class="font-size-40 bold-7">19</span>
                        <span>/month</span>
                    </div>
    
                    <div class="text-center">
    
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-remove-circle text-danger"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-remove-circle text-danger"></span><span> Lorem ipsum dolor sit am</span></div>
                    </div>
                </div>
                

            </div>
            <div class="col-sm-4 padding-2rem">
                <div class="box-shadow">
                    <div class="text-uppercase text-center bold-5">silver plan</div>
                    <div class="text-center">
                        <span class="font-size-26 bold-7">$</span>
                        <span class="font-size-40 bold-7">49</span>
                        <span>/month</span>
                    </div>
    
                    <div class="text-center">
    
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-remove-circle text-danger"></span><span> Lorem ipsum dolor sit am</span></div>
                    </div>
                </div>
                    
            </div>
            <div class="col-sm-4">
                <div class="box-shadow">
                    <div class="text-uppercase text-center bold-5">gold plan</div>
                    <div class="text-center">
                        <span class="font-size-26 bold-7">$</span>
                        <span class="font-size-40 bold-7">99</span>
                        <span>/month</span>
                    </div>
    
                    <div class="text-center">
    
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                        <div><span class="glyphicon glyphicon-ok-circle text-primary"></span><span> Lorem ipsum dolor sit am</span></div>
                    </div>
                </div>
                    
            </div>

            <div class="text-center">
                <div>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua.</div>
                <div>Ut enim ad minim veniam, quis nosturd exercitation ullamco laboris nisi ut aliquip ex ea commondo consequat.</div>
            </div>

            <div class="join">
                <div class="left-line"><hr></div>
                <div class="no-padding-h text-center join-button-wrapper font-size-12"><button class="join-button">Join now!</button></div>
                <div class="right-line"><hr></div>
            </div>

        </div>

        <div class="row no-margin-h footer padding-2rem">
            cffs
        </div>
    </div>

    <script src="../resources/js/jquery.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        $(function(){
            //$(".drag-n-drop-bg").height($(".drag-n-drop-bg > img").height());
        });
    </script>
</body>
</html>