$roboto: 'Roboto', sans-serif;
$dark-blue: rgba(4, 1, 44, 0.959);
$button-blue:  #5584ff;
$border-blue: #635eff;
$text-blue: #8492af;
$text-red: #db3f3f;
$blue-prime: rgba(4, 1, 44, 0.959);

$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;