.btn-green {
    color: #FFFFFF;
    background-color: #5BB12F;
    border-color: #458A23;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    color: #FFFFFF;
    background-color: #3A8A12;
    border-color: #458A23;
}
.btn-green:focus,
.btn-green:active:focus,
.btn-green.active:focus,
.btn-green.focus,
.btn-green:active.focus,
.btn-green.active.focus{
    outline:none;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    background-image: none;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
    background-color: #5BB12F;
    border-color: #458A23;
}

.btn-green .badge {
    color: #5BB12F;
    background-color: #FFFFFF;
}


/*  for bike   */
.btn-blue {
    color: #FFFFFF;
    background-color: #1352A2;
    border-color: #0E468F;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
    color: #FFFFFF;
    background-color: #370BB3;
    border-color: #0E468F;
}


.btn-blue:focus,
.btn-blue:active:focus,
.btn-blue.active:focus,
.btn-blue.focus,
.btn-blue:active.focus,
.btn-blue.active.focus{
    outline:none;
}


.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
    background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
    background-color: #1352A2;
    border-color: #0E468F;
}

.btn-blue .badge {
    color: #1352A2;
    background-color: #FFFFFF;
}

/* for car*/

.btn-violet {
    color: #FFFFFF;
    background-color: #86269B;
    border-color: #410961;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-violet:hover,
.btn-violet:focus,
.btn-violet:active,
.btn-violet.active,
.open .dropdown-toggle.btn-violet {
    color: #FFFFFF;
    background-color: #5E0382;
    border-color: #410961;
}

.btn-violet:active,
.btn-violet.active,
.open .dropdown-toggle.btn-violet {
    background-image: none;
}

.btn-violet:focus,
.btn-violet:active:focus,
.btn-violet.active:focus,
.btn-violet.focus,
.btn-violet:active.focus,
.btn-violet.active.focus{
    outline:none;
}


.btn-violet.disabled,
.btn-violet[disabled],
fieldset[disabled] .btn-violet,
.btn-violet.disabled:hover,
.btn-violet[disabled]:hover,
fieldset[disabled] .btn-violet:hover,
.btn-violet.disabled:focus,
.btn-violet[disabled]:focus,
fieldset[disabled] .btn-violet:focus,
.btn-violet.disabled:active,
.btn-violet[disabled]:active,
fieldset[disabled] .btn-violet:active,
.btn-violet.disabled.active,
.btn-violet[disabled].active,
fieldset[disabled] .btn-violet.active {
    background-color: #86269B;
    border-color: #410961;
}

.btn-violet .badge {
    color: #86269B;
    background-color: #FFFFFF;
}

/* for mobile*/

.btn-red {
    color: #FFFFFF;
    background-color: #FF432E;
    border-color: #AB0D15;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
    color: #FFFFFF;
    background-color: #d70d16;
    border-color: #AB0D15;
}

.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
    background-image: none;
}

.btn-red:focus,
.btn-red:active:focus,
.btn-red.active:focus,
.btn-red.focus,
.btn-red:active.focus,
.btn-red.active.focus{
    outline:none;
}

.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
    background-color: #FF432E;
    border-color: #ea0d16;
}

.btn-red .badge {
    color: #FF432E;
    background-color: #FFFFFF;
}

.btn-transparent{
    background-color: transparent;
    color: white;
}

.btn-border-1{
    border: 1px solid white;
}


.btn-dark-green {
    color: #ffffff;
    background-color: #108528;
    border-color: #FFFFFF;
}

.btn-dark-green:hover,
.btn-dark-green:focus,
.btn-dark-green:active,
.btn-dark-green.active,
.open .dropdown-toggle.btn-dark-green {
    color: #ffffff;
    background-color: #0A6915;
    border-color: #FFFFFF;
}

.btn-dark-green:active,
.btn-dark-green.active,
.open .dropdown-toggle.btn-dark-green {
    background-image: none;
}

.btn-dark-green:focus,
.btn-dark-green:active:focus,
.btn-dark-green.active:focus,
.btn-dark-green.focus,
.btn-dark-green:active.focus,
.btn-dark-green.active.focus{
    outline:none;
}

.btn-dark-green.disabled,
.btn-dark-green[disabled],
fieldset[disabled] .btn-dark-green,
.btn-dark-green.disabled:hover,
.btn-dark-green[disabled]:hover,
fieldset[disabled] .btn-dark-green:hover,
.btn-dark-green.disabled:focus,
.btn-dark-green[disabled]:focus,
fieldset[disabled] .btn-dark-green:focus,
.btn-dark-green.disabled:active,
.btn-dark-green[disabled]:active,
fieldset[disabled] .btn-dark-green:active,
.btn-dark-green.disabled.active,
.btn-dark-green[disabled].active,
fieldset[disabled] .btn-dark-green.active {
    background-color: #108528;
    border-color: #FFFFFF;
}

.btn-dark-green .badge {
    color: #108528;
    background-color: #ffffff;
}


.btn-purple-light {
    color: #ffffff;
    background-color: #AE36D6;
    border-color: #FFFFFF;
}

.btn-purple-light:hover,
.btn-purple-light:focus,
.btn-purple-light:active,
.btn-purple-light.active,
.open .dropdown-toggle.btn-purple-light {
    color: #ffffff;
    background-color: #9B69B8;
    border-color: #FFFFFF;
}

.btn-purple-light:active,
.btn-purple-light.active,
.open .dropdown-toggle.btn-purple-light {
    background-image: none;
}

.btn-purple-light:focus,
.btn-purple-light:active:focus,
.btn-purple-light.active:focus,
.btn-purple-light.focus,
.btn-purple-light:active.focus,
.btn-purple-light.active.focus{
    outline:none;
}

.btn-purple-light.disabled,
.btn-purple-light[disabled],
fieldset[disabled] .btn-purple-light,
.btn-purple-light.disabled:hover,
.btn-purple-light[disabled]:hover,
fieldset[disabled] .btn-purple-light:hover,
.btn-purple-light.disabled:focus,
.btn-purple-light[disabled]:focus,
fieldset[disabled] .btn-purple-light:focus,
.btn-purple-light.disabled:active,
.btn-purple-light[disabled]:active,
fieldset[disabled] .btn-purple-light:active,
.btn-purple-light.disabled.active,
.btn-purple-light[disabled].active,
fieldset[disabled] .btn-purple-light.active {
    background-color: #AE36D6;
    border-color: #FFFFFF;
}

.btn-purple-light .badge {
    color: #AE36D6;
    background-color: #ffffff;
}


#log:focus,
#log:active:focus,
#logactive:focus,
#log:focus,
#log:active.focus,
#logactive.focus{
    border: 1px solid transparent;
    background-color: #ffbc32;
    color: white;
    outline: none;
    outline:none;
}