
/* All Padding Properties---------------------------------*/
.no-padding-v{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.padding-1rem{
    padding: 1rem;
}
.padding-1rem-h{
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-1rem-v{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.padding-05rem-v {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.padding-05rem-h{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.padding-2rem{
    padding: 2rem;
}
.padding-2rem-h{
    padding-left: 2rem;
    padding-right: 2rem;
}
.padding-2rem-v{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.padding-5-v{
    padding-top: 5em;
    padding-bottom: 5em;
}
.padding-2-h{
    padding-left: 2em;
    padding-right: 2em;
}
.padding-3-h{
    padding-left: 3em;
    padding-right: 3em;
}
.padding-5-h{
    padding-left: 5em;
    padding-right: 5em;
}
.padding-8-h{
    padding-left: 8em;
    padding-right: 8em;
}
.padding-10-h{
    padding-left: 10em;
    padding-right: 10em;
}
.padding-bottom-1{
    padding-bottom: 1em;
}
.padding-bottom-05{
    padding-bottom: 0.5em;
}
.padding-bottom-2{
    padding-bottom: 2em;
}
.padding-bottom-3{
    padding-bottom: 3em;
}
.padding-bottom-05rem{
    padding-bottom: 0.5rem;
}
.padding-bottom-06rem{
    padding-bottom: 0.6rem;
}
.padding-top-1{
    padding-top: 1em;
}
.padding-top-1rem{
    padding-top: 1rem;
}
.padding-top-05rem{
    padding-top: 0.5rem;
}
.padding-top-08rem{
    padding-top: 0.8rem;
}
.padding-top-05{
    padding-top: 0.5em;
}
.padding-top-2{
    padding-top: 2em;
}
.padding-top-3{
    padding-top: 3em;
}
.padding-left-0{
    padding-left: 0;
}
.padding-right-0{
    padding-right: 0;
}
.padding-right-5{
    padding-right: 5em;
}
.padding-right-6{
    padding-right: 6em;
}
.padding-left-1-h{
    padding-left: 1em;
}
.padding-left-2{
    padding-left: 2em;
}
.padding-left-3{
    padding-left: 3em;
}
.padding-left-4{
    padding-left: 4em;
}
.padding-left-6{
    padding-left: 6em;
}
.padding-left-12-h{
    padding-left: 12em;
}
.padding-right-1-h{
    padding-right: 1em;
}
.no-padding-h{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.padding-0{
    padding: 0 !important;
}

/* All Margin properties ----------------------------------------------------*/

.margin-0{
    margin: 0;
}
.no-margin-h{
    margin-left:0;
    margin-right:0;
}
.margin-2rem {
    margin: 2rem;
}
.margin-2rem-h{
    margin-left: 2rem;
    margin-right: 2rem;
}
.margin-2rem-v{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.margin-3-v{
    margin-top: 3em;
    margin-bottom: 3em;
}
.margin-1rem{
    margin:1rem;
}
.margin-08-bottom{
    margin-bottom: 0.8em;
}
.margin-06-bottom{
    margin-bottom: 0.6em;
}
.margin-1rem-h{
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-1rem-v{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-1-left{
    margin-left: 1em;
}
.margin-2-left{
    margin-left: 2em;
}
.margin-1-right{
    margin-right: 1em;
}
.margin-2-right{
    margin-right: 2em;
}
.margin-1-top{
    margin-top: 1em;
}
.margin-2-top{
    margin-top: 2em;
}
.margin-3-top{
    margin-top: 3em;
}
.margin-4-top{
    margin-top: 4em;
}
.margin-5-top{
    margin-top: 5em;
}
.margin-6-top{
    margin-top: 6em;
}
.margin-7-top{
    margin-top: 7em;
}
.margin-8-top{
    margin-top: 8em;
}
.margin-9-top{
    margin-top: 9em;
}
.margin-10-top{
    margin-top: 10em;
}
.margin-1-bottom{
    margin-bottom: 1em;
}
.margin-2-bottom{
    margin-bottom: 2em;
}
.margin-3-bottom{
    margin-bottom: 3em;
}
.margin-4-bottom{
    margin-bottom: 4em;
}
.margin-5-bottom{
    margin-bottom: 5em;
}

.margin-1-h{
    margin-left: 1em;
    margin-right: 1em;
}
.margin-5-h{
    margin-left: 5em;
    margin-right: 5em;
}


/*  Position properties--------------------------------------------------- */
.width-600vw{
	width: 600vw;
}
.width-100vw-max{
	width: 100vw;
}
.width-100vw{
	width: 100vw;
}
.height-100vh{
	height:100vh;
}
.height-12{
    /*width: 12em;*/
    height: 12em;
}
.height-30{
    height: 30em;
}
.height-8{
    /*width: 12em;*/
    height: 8em;
}
.height-6{
    /*width: 12em;*/
    height: 6em;
}
.height-5{
    /*width: 12em;*/
    height: 5em;
}
.height-4{
    /*width: 12em;*/
    height: 4em;
}
.height-3{
    /*width: 12em;*/
    height: 3em;
}
.left-0{
    left: 0;
}

.left-100{
    left: 100vw;
}
.left-200{
    left: 200vw;
}
.left-300{
    left: 300vw;
}
.left-400{
    left: 400vw;
}
.left-500{
    left: 500vw;
}

.left-600{
    left: 600vw;
}

.left-700{
    left: 700vw;
}

.right-0{
    right: 0;
}
.right-100{
    right: 100vw;
}
.right-200{
    right: 200vw;
}
.right-300{
    right: 300vw;
}
.right-400{
    right: 400vw;
}
.right-500{
    right: 500vw;
}
.right-600{
    right: 600vw;
}
.right-1{
    right: 1em;
}
.relative-pos{
    position: relative;
}

.absolute-pos{
    position: absolute;
}

.overflow-hide{
	overflow: hidden; 
}
.overflow-x-hide{
	overflow-x:hidden;
}
.overflow-y-hide{
    overflow-y:hidden;
}

.overflow-y-scroll{
    overflow-y:scroll !important;
}

.vertical-center{
    margin-top: auto;
    margin-bottom: auto;
}

.v-center{
    vertical-align: middle !important;
}
.horizontal-center{
    margin-left: auto;
    margin-right: auto;  
}
/* Text properties-------------------------------------------------------------- */
.underline {
    text-decoration: underline;

}
.text-break{
    word-wrap: break-word;
}

.text-yellow-prime-dark{
    color: #d4971c;
}
.text-blue-prime{
    color:#06223d;
}
.text-white{
    color:#FFFFFF;
}
.text-purple{
    color:rgb(69, 72, 241);
}
.text-red{
    color: #e20000;
}
.text-green{
    color: #1bdc36;
}
.text-yellow-prime{
    color: #ffbc32;
}

.no-text-decoration{
    text-decoration: none;
    color: white;
}
.no-text-decoration:hover{
    text-decoration: none;
    text-underline: none;
    color: white;
}


/*icon properties---------------------------------------------------*/

.glyphicon{
    font-family: 'Glyphicons Halflings' !important;
}

.social-icons>i:hover{
    background-color: #FFFFFF;
    color: #0A1C2E;
}

/* all border properties -------------------------------------------------*/

.border-all-sides{
    border: 1px solid black;
}

.no-border{
    border: 0 !important;
}
.transparent-border{
    border: 1px solid Transparent;
}

.top-corners-radius-8{
    border-radius: 8px 8px 0 0;
}

.top-corners-radius-4{
    border-radius: 4px 4px 0 0;
}

.bottom-corners-radius-8{
    border-radius: 0 0 8px 8px;
}

.bottom-corners-radius-4{
    border-radius: 0 0 4px 4px;
}

.border-radius-8{
    border: 1px solid;
    border-radius: 8px;
}
.border-radius-4{
    border-radius: 4px;
}
.border-radius-30{
    border: 1px solid;
    border-radius: 30px;
}
.border-radius-50{
    border: 1px solid #031424;
    border-radius: 50%;
}

.no-border-radius{
    border-radius: 0 !important;
}
.no-border-sides{
    border-left: 0;
    border-right: 0;
}
.no-border-v{
    border-top: 0;
    border-bottom: 0;
}
.border-bottom{
    border-bottom: 1px solid black;
}
.border-top{
    border-top: 1px solid black;
}
.border-right{
    border-right: 1px solid black;
}
.border-left{
    border-left: 1px solid black;
}
.border-top-bottom{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.border-left-right{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.border-stroke-5{
    border-width: 5px;
}
.black-border{
    border-color: black;
}

.white-border{
    border-color: white;
}

.purple-border{
    border-color: #610982;
}

.red-border{
    border-color: red;
}

.green-border{
    border-color: green;
}

.spring-green-border{
    border-color: rgba(111, 177, 123, 0.57);
}

.blue-border{
    border-color: blue;
}
.grey-border{
    border-color: #918e8f;
}

.default-border-color{
    border-color: #c6d0da;
}

/* Shadow properties ------------------------------------------------------------*/
.box-shadow{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(143,143,143,1); /* horizontal vertical blur thickness color */
    -moz-box-shadow: 0px 0px 10px 1px rgba(143,143,143,1);
    box-shadow: 0px 0px 10px 1px rgba(143,143,143,1);
}

.box-shadow-light-dark{
    -webkit-box-shadow: 0px 0px 0.7em 0.05em rgb(180, 180, 180); /* horizontal vertical blur thickness color */
    -moz-box-shadow: 0px 0px 0.7em 0.05em rgba(180, 180, 180, 180);
    box-shadow: 0px 0px 0.7em 0.05em rgba(180, 180, 180, 180);
}

/* Color Properties for background ------------------------------------------------*/
.white-background{
    background-color: #FFFFFF;
}
.default-backgroud{
    background-color: #f5f5f5;
}
.blue-prime{
    background-color:#031424;
}
.blue{
    background-color: rgba(20, 133, 227, 0.76);
}

.yellow-prime{
    background-color: #ffbc32;
}
.yellow-prime-light{
    background-color: #ffe1a3;
}
.springgreen{
    background: springgreen;
}
.grey-green{
    background: rgba(226, 255, 230, 0.53);
}
.darkspringgreen{
    background: #1bdc36;
}
.backgroud-purple{
    background-color: #86269B;
}
.backgroud-purple-light{
    background-color: #c630e1;
}
.grey-backgroud{
    background-color: #a8a8a8;
}

.black-grey-backgroud{
    background-color: #5d5d5d;
}

.background-wrapper{
	min-width:100vw;
    min-height:100vh;
}

.transparent-background{
    background: Transparent ;
}


/* Font Properties -------------------------------------------*/
.hind-vadodara{
    font-family: 'Hind Vadodara', Arial, sans-serif;
}
.julius{
    font-family: 'Julius Sans One';
}
.roboto{
    font-family: Roboto;
}

.quicksand{
    font-family: 'Quicksand';
}

.railway{
    font-family: 'Raleway';
}
.bold{
    font-weight: bold;
}
.bold-1{
    font-weight: 100;
}
.bold-3{
    font-weight: 300;
}
.bold-4{
    font-weight: 400;
}
.bold-5{
    font-weight: 500;
}

.bold-7{
    font-weight: 700;
}

.bold-9{
    font-weight: 900;
}
.font-size-10{
    font-size: 10px;
}
.font-size-11{
    font-size: 11px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-28{
    font-size: 28px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-32{
    font-size: 32px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-36{
    font-size: 36px;
}
.font-size-38{
    font-size: 38px;
}
.font-size-40{
    font-size: 40px;
}


/* Button properties using div tag------------------------------------------------------------------*/


.transparent-button{
    background-color: transparent;
    color: white;
}


.list-style-no {
    list-style-type: none;
}


/* input properties--------------------------------------------- */
.input-green{
    background-color: #c5ffa7;
    border-color: #81ec44;
    color: black;
}

.hr-green{
    margin-top:0;
    border-top:2px solid #5BB12F;
}


.input-green:focus {
    border-color: #81ec44;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 138, 35, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 138, 35, 0.6);*/
    box-shadow: none;
}
/* blue */

.input-blue{
    background-color: #b9d6fa;
    border-color: #1597ff;
    color: black;
}

.hr-blue{
    margin-top:0;
    border-top:2px solid #1352A2;
}

.input-blue:focus {
    border-color: #1597ff;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 138, 35, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 138, 35, 0.6);*/
    box-shadow: none;
}

/* violet*/

.input-violet{
    background-color: #f1c3fb;
    border-color: #b72ad0;
    color: black;
}

.hr-violet{
    margin-top:0;
    border-top:2px solid #86269B;
}

.input-violet:focus {
    border-color: #b72ad0;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 138, 35, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 138, 35, 0.6);*/
    box-shadow: none;
}

/* red*/

.input-red{
    background-color: #feb7af;
    border-color: #e98a75;
    color: black;
}

.hr-red{
    margin-top:0;
    border-top:2px solid #FF432E;
}

.input-red:focus {
    border-color: #e98a75;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 138, 35, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 138, 35, 0.6);*/
    box-shadow: none;
}

/* web-kit placeholder*/

.input-green::-webkit-input-placeholder,
.input-blue::-webkit-input-placeholder,
.input-violet::-webkit-input-placeholder,
.input-red::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color:    #888a85;
 }
.input-green:-moz-placeholder,
.input-blue:-moz-placeholder,
.input-violet:-moz-placeholder,
.input-red:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #888a85;
    opacity:  1;
}
.input-green::-moz-placeholder,
.input-blue::-moz-placeholder,
.input-violet::-moz-placeholder,
.input-red::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #888a85;
    opacity:  1;
}
.input-green:-ms-input-placeholder,
.input-blue:-ms-input-placeholder,
.input-violet:-ms-input-placeholder,
.input-red:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #888a85;
}
.input-green::-ms-input-placeholder,
.input-blue::-ms-input-placeholder,
.input-violet::-ms-input-placeholder,
.input-red::-ms-input-placeholder { /* Microsoft Edge */
    color:    #888a85;
}

/* no input outline */
.no-input-outline:focus {
    outline: 0;
}

.col-xs-offset-right-12 {
    margin-right: 100%;
}
.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
    margin-right: 75%;
}
.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
    margin-right: 50%;
}
.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
    margin-right: 25%;
}
.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
    margin-right: 0;
}
@media (min-width: 768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%;
    }
    .col-sm-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-sm-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-sm-offset-right-9 {
        margin-right: 75%;
    }
    .col-sm-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-sm-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-sm-offset-right-6 {
        margin-right: 50%;
    }
    .col-sm-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-sm-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-sm-offset-right-3 {
        margin-right: 25%;
    }
    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-sm-offset-right-0 {
        margin-right: 0;
    }
}
@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }
    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-md-offset-right-9 {
        margin-right: 75%;
    }
    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-md-offset-right-6 {
        margin-right: 50%;
    }
    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-md-offset-right-3 {
        margin-right: 25%;
    }
    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-md-offset-right-0 {
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .col-lg-offset-right-12 {
        margin-right: 100%;
    }
    .col-lg-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-lg-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-lg-offset-right-9 {
        margin-right: 75%;
    }
    .col-lg-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-lg-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-lg-offset-right-6 {
        margin-right: 50%;
    }
    .col-lg-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-lg-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-lg-offset-right-3 {
        margin-right: 25%;
    }
    .col-lg-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-lg-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-lg-offset-right-0 {
        margin-right: 0;
    }
}

.col-xs-offset-left-12 {
    margin-left: 100%;
}
.col-xs-offset-left-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-left-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-left-9 {
    margin-left: 75%;
}
.col-xs-offset-left-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-left-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-left-6 {
    margin-left: 50%;
}
.col-xs-offset-left-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-left-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-left-3 {
    margin-left: 25%;
}
.col-xs-offset-left-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-left-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-left-0 {
    margin-left: 0;
}
@media (min-width: 768px) {
    .col-sm-offset-left-12 {
        margin-left: 100%;
    }
    .col-sm-offset-left-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-left-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-left-9 {
        margin-left: 75%;
    }
    .col-sm-offset-left-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-left-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-left-6 {
        margin-left: 50%;
    }
    .col-sm-offset-left-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-left-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-left-3 {
        margin-left: 25%;
    }
    .col-sm-offset-left-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-left-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-left-0 {
        margin-left: 0;
    }
}
@media (min-width: 992px) {
    .col-md-offset-left-12 {
        margin-left: 100%;
    }
    .col-md-offset-left-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-left-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-left-9 {
        margin-left: 75%;
    }
    .col-md-offset-left-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-left-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-left-6 {
        margin-left: 50%;
    }
    .col-md-offset-left-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-left-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-left-3 {
        margin-left: 25%;
    }
    .col-md-offset-left-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-left-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-left-0 {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .col-lg-offset-left-12 {
        margin-left: 100%;
    }
    .col-lg-offset-left-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-left-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-left-9 {
        margin-left: 75%;
    }
    .col-lg-offset-left-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-left-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-left-6 {
        margin-left: 50%;
    }
    .col-lg-offset-left-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-left-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-left-3 {
        margin-left: 25%;
    }
    .col-lg-offset-left-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-left-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-left-0 {
        margin-left: 0;
    }
}

.no-resize{
    resize: none;
}