
.initials{
    vertical-align: 34%;
    background-color: rgb(63, 154, 230);
    text-align: center;
    border-radius: 50%;
    padding: 0.3em 0.63em;
    color: white;
}

.v-align-50{
    vertical-align: 50%;
}

.v-align-25{
    vertical-align: 25%;
}
.pending{
    margin-left: 1em;
    line-height: 13px;
    vertical-align: 0%;
    font-size: 11px;
    width: 71%;
}

.doted-outline{
    border: 1px dashed gray;
    background-color: transparent;
    color: #8492af;
    text-align: center;
    height: 61px;
}
.doted-outline > div{
    transform: translateY(100%);
}

.dgd{
    font-size: 35px;
    margin-top: 1em;
    color: white;
    font-weight: 100;
    margin-bottom: 0.5em;
}

.dgb-p p{
    color: #8492af;
    font-size: 13px;
    margin-bottom: 1.6em;
}

.dgb-span span{
    color: #8492af;
}

.dgb-span span:hover{
    cursor: pointer;
    color: white;
}

.rotate-180{
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}


.left-position{
    left: 52.2%;
    top: 67%;
}
.right-position{
    right: 49%;
    top: 41%;
}

.right-transform{
    transform: translate(-50%,-80%);
}
.left-transform{
    transform: translate(50%,-39%);
}



.mg1{
    background-color: rgba(85, 132, 255, 0.6);
    height: 26px;
    width: 26px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    
}
.line2{
    border: 0;
    background-color: #5584ff;
    height: 1px;
    width:  35.78em;
    position: absolute;
    margin-top: 0;
    margin-left:1em;
    right:20%;
    top: 50%;
}
  
.mg2{
    background-color: #5584ff;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    position: absolute;
}
.line {
    border: 0;
    background-color: #5584ff;
    height: 1px;
    width:25em;
    position: absolute;
    margin-top: 0;
    margin-left: 40%;
    top: 50%;
}
.pointer1{
    left: 10%;
    top: 36%;
}
.pointer2{
    right: 10%;
    top: 62%;
}

.left-panel, .right-panel{
    width: 50%;
    position: absolute
}

.left-panel{
    left: 12%;
    top: 42%
}

.right-panel{
    right: 12%;
    bottom: 14%;
}

.line-right {
    float: right;
    width: 71%;
}

.line-left{
    width: 72%;
}

.line-left .outer-circle{
    left: 70%;
}

.line-right .outer-circle{
    left: 28%;
}

.line-right > hr,.line-left > hr {
    border-color: #5584ff;
    margin-top: 9px;
}

.outer-circle{
    top: 18%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(85, 132, 255, 0.6);
    position: absolute;
}

.inner-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5584ff;
    margin-right:auto;
    margin-left: auto;
    transform: translateY(20%);
}

.mockup{
    height: 52%;
    width: 62%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
}
.psd-template{
    background: linear-gradient(#f6f6fa,#f6f6fa,#f6f6fa,#f6f6fa,#f6f6fa,
    #f6f6fa,#f9f9ff,#f9f9ff,#f9f9ff,#f9f9ff,white);
    margin-bottom: 5em;
}
.psd-template > div:first-child{
    margin-top: 1.5em;
    margin-bottom: 0.6em;
}

.psd-template > div:nth-child(2),.psd-template > div:nth-child(3){
    color: #8492af;
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
}


.psd-template > div:nth-child(3){
    margin-bottom: 4em;
}


.pricing{
    width: 75%;
    margin: 0 auto 0.5em auto;
}

.pricing .col-sm-4 {
    padding: 3.2em;
    margin-bottom: 1em;
}

.pricing .col-sm-4 .box-shadow {
    padding: 1.8em 0;
}

.pricing .col-sm-4 .box-shadow > div:nth-child(2) {
    padding: 1.2em 0;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
    box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.33);
}

.box-shadow > div:nth-child(3){
    font-size: 12px;
    line-height: 27px;
}
.box-shadow > div:nth-child(3) > div > span:first-child{
    margin-right: 7px;
    font-size: 16px;
    vertical-align: middle;
}

#join{
    color: #8492af;
}

.join{
    width: 80%;
    margin: 2.5em auto 2.5em auto;
    text-align: center;
}

.left-line hr{
    width: 50%;
    float: right;
}
.right-line hr {
    width: 50%;
    float: left;
}

.join > div {
    display: inline-block;
}
.left-line{
    width: 30%;
    vertical-align: middle;
}
.right-line{
    width: 30%;
    vertical-align: middle;
}

.join-button-wrapper{
    width: 13%;
    margin: 0 1.5em;
}
.fb,.tw{
    margin: 1px;
}
.join-button{
    width: 100%;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 28px;
    background-color: #5584ff;
    color: white;
    font-weight: 500;
    height: 30px;
}
.join-button:hover{
    border: 1px solid #5584ff;
    color: #5584ff;
    background-color: transparent;
}
.footer{
    background-color:  #0e1a35;
    font-size: 13px;
    padding: 2.8em 10em;
    color: #8492af;
    font-weight: 500;
}

.footer > div:last-child > span:nth-child(2) > span:hover{
    color: white;
    cursor: pointer;
}

button:focus,
button:active{
    outline: 0 !important;
}