.dashboard, .dashboard .background-home .home, .work, .drag-n-drop-bg {
  margin-left: 0;
  margin-right: 0; }

body {
  font-family: 'Roboto', sans-serif; }

.dashboard .background-home {
  background-image: url("../images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  height: calc(100vh, 4em); }
  .dashboard .background-home .home {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em; }
    .dashboard .background-home .home .logo-wrapper {
      width: 12%;
      height: 1.2%;
      float: left !important; }
    .dashboard .background-home .home .head-nav {
      float: right !important; }
      .dashboard .background-home .home .head-nav * {
        display: inline; }
      .dashboard .background-home .home .head-nav p {
        font-weight: 400;
        margin-right: 2em;
        color: white;
        font-size: 14px; }
        .dashboard .background-home .home .head-nav p:hover {
          cursor: pointer;
          color: #8492af; }
      .dashboard .background-home .home .head-nav .login-button {
        background-color: transparent;
        color: #8492af;
        border: 1px solid #635eff;
        border-radius: 30px;
        padding: 0.6rem 3.5rem 0.6rem 3.5rem;
        font-weight: bold; }
        .dashboard .background-home .home .head-nav .login-button:hover {
          background-color: #5584ff;
          border-color: transparent;
          color: white; }
    .dashboard .background-home .home .ham-nav {
      float: right !important; }
      .dashboard .background-home .home .ham-nav .ham {
        display: none; }
      .dashboard .background-home .home .ham-nav .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(4, 1, 44, 0.959);
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px; }
        .dashboard .background-home .home .ham-nav .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: white;
          display: block;
          transition: 0.3s; }
          .dashboard .background-home .home .ham-nav .sidenav a:hover {
            font-weight: 400;
            color: #8492af; }
        .dashboard .background-home .home .ham-nav .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px; }
    .dashboard .background-home .home p {
      color: white;
      font-size: 30px;
      /* Approximation due to font substitution */
      font-weight: 100;
      line-height: 14.4px; }
  .dashboard .background-home .get-started {
    margin-top: 6%;
    text-align: center; }
    .dashboard .background-home .get-started div:first-child {
      color: white;
      font-size: 36px;
      font-weight: 100; }
    .dashboard .background-home .get-started div:nth-child(2) {
      color: #8492af;
      font-size: 22px;
      font-weight: 400; }
    .dashboard .background-home .get-started .get-started-btn {
      background-color: #5584ff;
      color: white;
      border: 1px solid transparent;
      border-radius: 30px;
      padding: 0.6rem 3.5rem 0.6rem 3.5rem;
      font-weight: bold; }
      .dashboard .background-home .get-started .get-started-btn:hover {
        background-color: transparent;
        color: white;
        border: 1px solid #635eff; }
  .dashboard .background-home .dashboard-img {
    width: 41%;
    margin-top: 4em;
    margin-right: auto;
    margin-left: auto;
    bottom: 0; }
    .dashboard .background-home .dashboard-img img {
      margin: 0 auto; }

.work {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 9em;
  width: 68%;
  margin-left: auto;
  margin-right: auto; }
  .work div {
    margin-bottom: 1.2em; }
    .work div div img {
      width: 21%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2.5em; }
    .work div div:nth-child(2) {
      margin-bottom: 0.8em;
      font-weight: 500; }
    .work div div:nth-child(3) {
      margin-bottom: 2em;
      color: #8492af;
      font-weight: 400;
      padding: 0 1em; }
    .work div .see-more-btn {
      background-color: transparent;
      color: black;
      border: 1px solid #8492af;
      border-radius: 29px;
      padding: 0.4rem 3.4rem 0.4rem 3.4rem;
      font-weight: 300; }
      .work div .see-more-btn:hover {
        background-color: #5584ff;
        border-color: transparent;
        color: white;
        font-weight: 500; }

.info {
  background: #fefefe;
  background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7', GradientType=0 );
  padding-top: 6em; }
  .info .info-d {
    margin-top: 4%;
    margin-bottom: 3em;
    padding-left: 14%; }
  .info div p:nth-child(2) {
    color: #8492af;
    font-size: 12px;
    padding-right: 8%; }
  .info div p:nth-child(3) {
    color: #8492af;
    font-size: 12px;
    padding-right: 8%; }
  .info div div * {
    display: inline;
    color: #5584ff;
    font-weight: 400;
    font-size: 15px; }
  .info div div span {
    font-size: 22px !important;
    vertical-align: middle; }

.drag-n-drop-bg {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url("../images/drag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .drag-n-drop-bg .con {
    width: 100%;
    top: 19%; }
    .drag-n-drop-bg .con .drag-left {
      width: 57%;
      float: left; }
      .drag-n-drop-bg .con .drag-left div .drag-contents {
        width: 80%;
        margin-left: auto;
        margin-right: auto; }
        .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content1, .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content2 {
          width: 50%;
          padding-left: 0.9em;
          padding-right: 0.9em;
          float: left; }
          .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content1 div .initials, .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content2 div .initials {
            vertical-align: 34%;
            background-color: #3f9ae6;
            text-align: center;
            border-radius: 50%;
            padding: 0.3em 0.63em;
            color: white; }
        .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content1 .tasks, .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content2 .completed {
          padding: 1.2em 0 1.1em 1.5em;
          background-color: white;
          margin-bottom: 1em; }
          .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content1 .tasks .option, .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content2 .completed .option, .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content1 .tasks .initials, .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content2 .completed .initials, .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content1 .tasks .pending, .drag-n-drop-bg .con .drag-left div .drag-contents .drag-content2 .completed .pending {
            vertical-align: middle;
            display: inline-block; }
    .drag-n-drop-bg .con .drag-right {
      width: 43%;
      float: left; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 18px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #5f5e5eea;
  color: white;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-weight: 500;
  font-size: 22px; }
  #myBtn:hover {
    background-color: #292525; }

/*# sourceMappingURL=merkury.css.map */
