body {
  font-family: 'Roboto', sans-serif; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

button:focus,
button:active {
  outline: 0 !important; }

.box-shadow {
  -webkit-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.33); }

.bold-3 {
  font-weight: 300; }

.text-green {
  color: #1ec973; }

.header {
  position: absolute;
  width: 100%;
  z-index: 11;
  top: 3em; }
  .header div * {
    display: inline-block; }
  .header div img {
    height: 45px; }
  .header div ul {
    float: right; }
    .header div ul li {
      color: white;
      display: inline;
      margin-right: 2em; }
      .header div ul li:last-child {
        margin-right: 0; }
      .header div ul li:hover {
        cursor: pointer;
        color: #8492af; }
      .header div ul li .login-button {
        background-color: transparent;
        color: #8492af;
        border: 1px solid #635eff;
        border-radius: 30px;
        padding: 0.6rem 3.5rem 0.6rem 3.5rem;
        font-weight: bold; }
        .header div ul li .login-button:hover {
          background-color: #5584ff;
          border-color: transparent;
          color: white; }
  .header div .ham-nav {
    float: right !important; }
    .header div .ham-nav .ham {
      display: none; }
    .header div .ham-nav .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgba(4, 1, 44, 0.959);
      overflow-x: hidden;
      transition: 0.3s;
      padding-top: 60px; }
      .header div .ham-nav .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s; }
        .header div .ham-nav .sidenav a:hover {
          font-weight: 400;
          color: #8492af; }
      .header div .ham-nav .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px; }

.dashboard {
  background-image: url("../images/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }
  .dashboard div div {
    position: relative;
    width: 100%; }
    .dashboard div div .get-started {
      text-align: center;
      padding: 14em 0 23.5em 0; }
      .dashboard div div .get-started div:first-child {
        color: white;
        font-size: 36px;
        font-weight: 100; }
      .dashboard div div .get-started div:nth-child(2) {
        color: #8492af;
        font-size: 22px;
        font-weight: 400; }
      .dashboard div div .get-started .get-started-btn {
        background-color: #5584ff;
        color: white;
        border: 1px solid transparent;
        border-radius: 30px;
        padding: 0.6rem 3.5rem 0.6rem 3.5rem;
        font-weight: bold; }
        .dashboard div div .get-started .get-started-btn:hover {
          background-color: transparent;
          color: white;
          border: 1px solid #635eff; }
    .dashboard div div .dashboard-img {
      width: 41%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      bottom: -70px; }

.work .work-row {
  text-align: center;
  margin-bottom: 1.2em;
  padding: 12em 10em 3em 10em; }
  .work .work-row > div > div:first-child {
    margin-bottom: 3.5em; }
    .work .work-row > div > div:first-child img {
      width: 19%; }
  .work .work-row > div > div:nth-child(2) {
    margin-bottom: 0.8em;
    font-weight: 500; }
  .work .work-row > div > div:nth-child(3) {
    font-size: 12px;
    margin-bottom: 3.5em;
    color: #8492af;
    font-weight: 400; }
  .work .work-row > div .see-more-btn {
    background-color: transparent;
    color: black;
    border: 1px solid #8492af;
    border-radius: 29px;
    padding: 0.4rem 3.4rem 0.4rem 3.4rem;
    font-weight: 300; }
    .work .work-row > div .see-more-btn:hover {
      background-color: #5584ff;
      border-color: transparent;
      color: white;
      font-weight: 500; }
  .work .work-row > div:first-child:after, .work .work-row > div:nth-child(2):after {
    content: "";
    position: absolute;
    border-bottom: 1px solid lightgray;
    top: 9%;
    width: 48%;
    margin-left: 4%; }

.info {
  padding: 5em 0 7.5em 0;
  overflow: hidden;
  background: linear-gradient(white, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa); }
  .info .info-container {
    position: relative; }
  .info .info-row {
    padding-right: 0; }
    .info .info-row .info-d {
      padding-right: 15px; }
      .info .info-row .info-d h1 {
        margin-bottom: 1em;
        font-weight: 300; }
      .info .info-row .info-d p {
        width: 90%;
        margin-bottom: 2em; }
        .info .info-row .info-d p:nth-child(2) {
          color: #8492af;
          font-size: 12px; }
        .info .info-row .info-d p:nth-child(3) {
          color: #8492af;
          font-size: 12px; }
      .info .info-row .info-d .margin-bottom {
        margin-bottom: 1em; }
      .info .info-row .info-d div * {
        display: inline;
        color: #8492af; }
      .info .info-row .info-d div span {
        font-size: 20px;
        vertical-align: -2px; }
  .info .grupa-img {
    position: absolute;
    top: -2em;
    right: -12em;
    width: 54.5em; }

.drag-n-drop-bg {
  background-image: url("../images/drag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 6em 0; }
  .drag-n-drop-bg div .drag-left {
    width: 57%;
    float: left; }
    .drag-n-drop-bg div .drag-left .drag-contents {
      padding: 0 5.5em 0 0; }
      .drag-n-drop-bg div .drag-left .drag-contents .drag-content1, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 {
        width: 50%;
        padding-left: 0.9em;
        padding-right: 0.9em;
        float: left; }
        .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .p-title, .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .c-title, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .p-title, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .c-title {
          color: white;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 1em; }
        .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .initials, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .initials {
          position: absolute;
          left: 15px;
          vertical-align: 34%;
          background-color: #5584ff;
          text-align: center;
          border-radius: 50%;
          padding: 0.3em 0.63em;
          color: white; }
        .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .pending, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .pending {
          margin-left: 1em;
          line-height: 13px;
          vertical-align: 0%;
          font-size: 11px;
          width: 71%; }
          .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .pending div:first-child, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .pending div:first-child {
            font-weight: 500; }
        .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .p-count, .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .c-count, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .p-count, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .c-count {
          color: #8492af; }
      .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed {
        position: relative;
        padding: 1.3em 1.5em 1.3em 3.2em;
        background-color: white;
        margin-bottom: 1em; }
        .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks .option, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed .option, .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks .initials, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed .initials, .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks .pending, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed .pending {
          vertical-align: middle;
          display: inline-block; }
          .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks .option div:first-child, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed .option div:first-child, .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks .initials div:first-child, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed .initials div:first-child, .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks .pending div:first-child, .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed .pending div:first-child {
            font-weight: 500; }
      .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks > span {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
        .drag-n-drop-bg div .drag-left .drag-contents .drag-content1 .tasks > span:hover {
          cursor: pointer;
          color: gray; }
      .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed > span {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
        .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .completed > span:hover {
          cursor: pointer;
          color: gray; }
      .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .doted-outline {
        border: 1px dashed gray;
        background-color: transparent;
        color: #8492af;
        text-align: center;
        height: 61px; }
        .drag-n-drop-bg div .drag-left .drag-contents .drag-content2 .doted-outline div {
          transform: translateY(100%);
          -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -o-transform: translateY(100%); }
  .drag-n-drop-bg div .drag-right {
    width: 43%;
    float: left; }
    .drag-n-drop-bg div .drag-right .dgd {
      font-size: 35px;
      margin-top: 1em;
      color: white;
      font-weight: 100;
      margin-bottom: 0.5em; }
    .drag-n-drop-bg div .drag-right .dgd-contents > div .dgd-p {
      width: 90%; }
      .drag-n-drop-bg div .drag-right .dgd-contents > div .dgd-p p {
        color: #8492af;
        font-size: 13px;
        margin-bottom: 1.6em; }
    .drag-n-drop-bg div .drag-right .dgd-span {
      color: #8492af;
      font-size: 28px; }
      .drag-n-drop-bg div .drag-right .dgd-span span:hover {
        cursor: pointer;
        color: white; }

.psd-template {
  background: linear-gradient(#f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f6f6fa, #f9f9ff, #f9f9ff, #f9f9ff, #f9f9ff, white); }
  .psd-template > div > div {
    position: relative;
    padding: 3em 0 1em 0; }
    .psd-template > div > div h1 {
      font-weight: 100;
      margin-bottom: 1em; }
    .psd-template > div > div .dis-no {
      display: none; }
    .psd-template > div > div > div:nth-child(2), .psd-template > div > div > div:nth-child(3) {
      color: #8492af;
      font-weight: 300;
      width: 80%;
      margin: 0 auto; }
    .psd-template > div > div > div:nth-child(3) {
      margin-bottom: 4em; }
    .psd-template > div > div .mockup {
      width: 62%;
      z-index: -1;
      margin-left: auto;
      margin-right: auto; }
    .psd-template > div > div .left-panel, .psd-template > div > div .right-panel {
      width: 50%;
      position: absolute; }
    .psd-template > div > div .left-panel div .line-left .outer-circle, .psd-template > div > div .right-panel div .line-right .outer-circle {
      top: 18%;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: rgba(85, 132, 255, 0.6);
      position: absolute; }
      .psd-template > div > div .left-panel div .line-left .outer-circle .inner-circle, .psd-template > div > div .right-panel div .line-right .outer-circle .inner-circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #5584ff;
        margin-right: auto;
        margin-left: auto;
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -o-transform: translateY(20%); }
    .psd-template > div > div .left-panel {
      left: 12%;
      top: 42%; }
      .psd-template > div > div .left-panel div .line-left {
        width: 72%; }
        .psd-template > div > div .left-panel div .line-left .outer-circle {
          left: 70%; }
        .psd-template > div > div .left-panel div .line-left hr {
          border-color: #5584ff;
          margin-top: 9px; }
    .psd-template > div > div .right-panel {
      right: 12%;
      bottom: 14%; }
      .psd-template > div > div .right-panel div .line-right {
        float: right;
        width: 71%; }
        .psd-template > div > div .right-panel div .line-right .outer-circle {
          left: 28%; }
        .psd-template > div > div .right-panel div .line-right hr {
          border-color: #5584ff;
          margin-top: 9px; }
    .psd-template > div > div .rp-title {
      font-size: 18px;
      font-weight: 300; }
    .psd-template > div > div .left-content {
      width: 100%;
      float: left;
      font-size: 12px;
      color: gray; }
    .psd-template > div > div .right-content {
      font-size: 12px;
      width: 100%;
      float: right;
      color: gray; }

.pricing {
  text-align: center; }
  .pricing > div > div {
    padding: 0 7em 3em 7em; }
    .pricing > div > div h1 {
      text-align: center;
      font-weight: 100;
      margin-bottom: 20px; }
    @media screen and (max-width: 520px) {
      .pricing > div > div > div {
        width: 100%;
        padding: 0 3em; } }
    .pricing > div > div > div > div {
      padding: 2em 2em; }
      .pricing > div > div > div > div .box-shadow {
        -webkit-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.33);
        padding: 2em 1em; }
        .pricing > div > div > div > div .box-shadow > div:first-child {
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          padding-bottom: 1.2em; }
        .pricing > div > div > div > div .box-shadow > div:nth-child(2) {
          padding-bottom: 1.2em; }
          .pricing > div > div > div > div .box-shadow > div:nth-child(2) > span:first-child {
            font-weight: 700;
            font-size: 26px; }
          .pricing > div > div > div > div .box-shadow > div:nth-child(2) > span:nth-child(2) {
            font-weight: 700;
            font-size: 40px; }
        .pricing > div > div > div > div .box-shadow > div:last-child {
          font-size: 12px;
          text-align: left; }
          .pricing > div > div > div > div .box-shadow > div:last-child ul li {
            line-height: 13px;
            position: relative;
            padding-left: 48px;
            margin-bottom: 15px; }
            .pricing > div > div > div > div .box-shadow > div:last-child ul li::before {
              content: "\e089";
              position: absolute;
              display: inline-block;
              font-family: 'Glyphicons Halflings';
              font-style: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              color: #5584ff;
              font-size: 21px;
              top: -5px;
              left: 16px; }

.subscription {
  padding: 1em 0 4em 0; }
  .subscription .content {
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    color: #8492af; }
  .subscription .join {
    margin-top: 4em;
    text-align: center; }
    .subscription .join .join-button {
      padding: 0.35em 2.2em;
      background-color: #5584ff;
      border: 1px solid transparent;
      color: white;
      border-radius: 30px;
      position: relative; }
      .subscription .join .join-button:hover {
        border: 1px solid #5584ff;
        color: #8492af;
        background-color: transparent; }
      .subscription .join .join-button:after, .subscription .join .join-button:before {
        content: "";
        border-top: 1px solid rgba(163, 162, 162, 0.712);
        width: 90%;
        position: absolute;
        top: 13px; }
      .subscription .join .join-button:after {
        left: 170px; }
      .subscription .join .join-button:before {
        right: 170px; }

.footer {
  background-color: #0e1a35;
  font-size: 13px;
  padding: 3em 0;
  color: #8492af;
  font-weight: 500; }
  .footer ul {
    float: right; }
    .footer ul li {
      display: inline; }
    .footer ul > li:nth-child(1), .footer ul li:nth-child(2), .footer ul li:nth-child(3) {
      margin-right: 1.5em; }
      .footer ul > li:nth-child(1):hover, .footer ul li:nth-child(2):hover, .footer ul li:nth-child(3):hover {
        color: white;
        cursor: pointer; }
    .footer ul > li:nth-child(4), .footer ul li:nth-child(5) {
      margin-right: 0.5em; }
      .footer ul > li:nth-child(4):hover, .footer ul li:nth-child(5):hover {
        color: white;
        cursor: pointer; }
    .footer ul > li:last-child:hover {
      color: white;
      cursor: pointer; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 18px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(70, 69, 69, 0.884);
  color: white;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-weight: 500;
  font-size: 22px; }
  #myBtn:hover {
    background-color: #292525; }

.hvr-grow-shadow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer; }

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-12px) scale(1.2);
    transform: translateY(-12px) scale(1.2);
    cursor: pointer; }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity; }

@media screen and (max-width: 1200px) {
  .work .work-row {
    padding: 12em 7em 3em 7em; }

  .pricing > div > div {
    padding: 0; }
    .pricing > div > div h1 {
      margin-bottom: 0.5em; }

  .grupa-img {
    right: -18em !important;
    width: 51em !important; }

  .psd-template > div > div .left-panel {
    left: 5%;
    top: 45%; }
    .psd-template > div > div .left-panel hr {
      margin-bottom: 14px; }
    .psd-template > div > div .left-panel .line-left {
      width: 91% !important; }
    .psd-template > div > div .left-panel .outer-circle {
      top: 21% !important;
      left: 85% !important; }
  .psd-template > div > div .right-panel {
    bottom: 12%;
    right: 5%; }
    .psd-template > div > div .right-panel hr {
      margin-bottom: 14px; }
    .psd-template > div > div .right-panel .line-right {
      width: 84% !important; }
    .psd-template > div > div .right-panel .outer-circle {
      top: 21% !important;
      left: 14% !important; }
  .psd-template > div > div .right-content, .psd-template > div > div .left-content {
    font-size: 13px; }
  .psd-template > div > div .mockup {
    width: 62%; } }
@media screen and (max-width: 1000px) {
  .drag-n-drop-bg .drag-left .drag-contents {
    padding: 0 !important; }
  .drag-n-drop-bg .drag-right {
    padding: 0 0 0 3em; }

  .work .work-row {
    padding: 9em 2em 4.5em 2em; }

  .logo-line:after {
    border: none !important; } }
@media screen and (max-width: 991px) {
  .dashboard .get-started {
    padding: 11em 0 15em 0 !important; }

  .drag-n-drop-bg {
    padding: 4em 0; }
    .drag-n-drop-bg .drag-right {
      padding: 0 15px;
      margin-bottom: 0; }

  .work > div > div {
    padding-bottom: 0; }

  .pricing {
    margin-bottom: 2em; }
    .pricing > div > div h1 {
      margin-bottom: 1em; }
    .pricing > div > div > div > div {
      padding: 0; }

  .grupa-img {
    top: 0em !important;
    width: 54em !important;
    right: -26em !important; }

  .psd-template > div > div .fst {
    margin-bottom: 7px !important; }
  .psd-template > div > div .left-panel {
    top: 54%;
    left: 0; }
    .psd-template > div > div .left-panel hr {
      margin-top: 6px;
      margin-bottom: 14px; }
    .psd-template > div > div .left-panel .line-left {
      width: 100% !important; }
    .psd-template > div > div .left-panel .outer-circle {
      left: 91% !important; }
  .psd-template > div > div .right-panel {
    bottom: 11%;
    right: 0; }
    .psd-template > div > div .right-panel hr {
      margin-top: 6px;
      margin-bottom: 14px; }
    .psd-template > div > div .right-panel .line-right {
      width: 96% !important; }
    .psd-template > div > div .right-panel .outer-circle {
      left: 5% !important; }
  .psd-template > div > div .rp-title {
    font-size: 15px; }
  .psd-template > div > div .right-content, .psd-template > div > div .left-content {
    font-size: 9px; }
  .psd-template > div > div .mockup {
    width: 62%; } }
@media screen and (max-width: 900px) {
  .grupa-img {
    top: 4em !important;
    right: -16em !important;
    width: 46em !important; } }
@media screen and (max-width: 768px) {
  .dashboard .get-started {
    padding: 10em 0 6em 0 !important; }

  .footer {
    text-align: center; }
    .footer div > div:last-child {
      margin-top: 0.5em; }
      .footer div > div:last-child ul {
        float: none; }

  .ham {
    display: block !important;
    color: white;
    font-size: 30px;
    cursor: pointer; }

  .ham:hover {
    color: aqua;
    transition-delay: 0.1s;
    animation-direction: alternate;
    animation-fill-mode: forwards; }

  .dashboard .dashboard-img {
    display: none !important; }

  .drag-n-drop-bg .dgd-p {
    margin: 0 auto;
    width: 100% !important; }

  .header > div > ul {
    display: none; }

  .work .work-row {
    margin-bottom: 0;
    padding: 6em 0 1em 0; }
    .work .work-row > div {
      margin-bottom: 3em; }
      .work .work-row > div:last-child {
        float: none;
        display: inline-block; }
      .work .work-row > div:nth-child(1):after, .work .work-row > div:nth-child(2):after {
        content: none; }

  .info {
    padding: 3.5em 0 5em 0; }
    .info .info-d p {
      width: 100% !important;
      padding-right: 15px; }
    .info .grupa-img {
      display: none; }

  .drag-right, .drag-left {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto; }

  .drag-right {
    text-align: center;
    padding: 0 5em; }

  .drag-left .container-fluid {
    padding: 0; }

  .psd-template .mockup {
    width: 86% !important; }
  .psd-template .left-panel, .psd-template .right-panel {
    display: none; }
  .psd-template .dis-no {
    color: #8492af;
    display: block !important; }
    .psd-template .dis-no h4 {
      font-weight: 300; }
    .psd-template .dis-no p {
      font-size: 13px;
      color: grey;
      font-weight: 300; }
  .psd-template .lst {
    margin-bottom: 2em; }

  .join-button-wrapper {
    width: 23%; }

  .pricing {
    margin-bottom: 0; }
    .pricing h1 {
      margin-bottom: 2em; }
    .pricing .abc {
      display: inline-block;
      margin-bottom: 4em; }
      .pricing .abc:last-child {
        float: none; }

  .subscription .join .join-button:after, .subscription .join .join-button:before {
    width: 40%; }
  .subscription .join .join-button:after {
    left: 150px; }
  .subscription .join .join-button:before {
    right: 150px; } }
@media only screen and (max-width: 419px) {
  .ham-nav {
    display: block !important; }

  .ham {
    display: block !important;
    color: white;
    font-size: 30px;
    cursor: pointer; }

  .ham:hover {
    color: aqua;
    transition-delay: 0.1s;
    animation-direction: alternate;
    animation-fill-mode: forwards; }

  .work > div > div {
    padding: 4em 2.5em 1.5em 2.5em !important; }
    .work > div > div > div {
      margin-bottom: 3em;
      width: 100% !important; }
      .work > div > div > div:last-child {
        left: 0;
        transform: unset; }
      .work > div > div > div:after {
        content: none !important; }

  .drag-right, .drag-left {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto; }

  .drag-right {
    padding: 2em 1em 0 1em !important; }

  .drag-content1 {
    width: 100% !important;
    margin-bottom: 2em; }

  .drag-content2 {
    width: 100% !important; }

  .drag-right {
    text-align: center; }

  .drag-contents {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }

  .subscription .join .join-button {
    padding: 0.2em 1.8em; }
    .subscription .join .join-button:after {
      left: 130px; }
    .subscription .join .join-button:before {
      right: 130px; }

  .psd-template .dis-no {
    width: 100%; } }
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }

/*# sourceMappingURL=merkury.css.map */
